### Import date din fisiere .csv

In [1]:
import pandas as pd

In [2]:
path = 'C:\\Users\\anlazar\\Full_Archive\\New Files\\olist db\\'

In [3]:
customers_df = pd.read_csv(filepath_or_buffer=path+'olist_customers_dataset.csv')

In [4]:
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,49567,48030,81560,curitiba,PR
1,46861,45424,30575,belo horizonte,MG
2,38631,37457,39400,montes claros,MG
3,54148,52453,20231,rio de janeiro,RJ
4,24363,23670,18682,lencois paulista,SP

In [6]:
customers_df = pd.read_csv(filepath_or_buffer=path+'olist_customers_dataset.csv',
                           usecols = ['customer_unique_id', 'customer_city', 'customer_state'])
customers_df.head()

   customer_unique_id     customer_city customer_state
0               48030          curitiba             PR
1               45424    belo horizonte             MG
2               37457     montes claros             MG
3               52453    rio de janeiro             RJ
4               23670  lencois paulista             SP

In [7]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                           nrows = 1000,
                           usecols = ['customer_unique_id', 'customer_city', 'customer_state'])
customers_df

     customer_unique_id     customer_city customer_state
0                 48030          curitiba             PR
1                 45424    belo horizonte             MG
2                 37457     montes claros             MG
3                 52453    rio de janeiro             RJ
4                 23670  lencois paulista             SP
..                  ...               ...            ...
995               57553         sao paulo             SP
996                 177    rio de janeiro             RJ
997               63404         joinville             SC
998                5759         sao paulo             SP
999               27025        vila velha             ES

[1000 rows x 3 columns]

In [14]:
customers_df_header = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv', 
                                  nrows = 0)
customers_df_header

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [15]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                           nrows = 1000,
                           skiprows = 1000,
                           header = customers_df_header)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
customers_df = pd.concat([customers_df_header,
                        pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                                    nrows = 1000,
                                    skiprows = 1000)
                         ]
                         )
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,27843,27025,29101,vila velha,ES
0,NaN,NaN,NaN,NaN,NaN,76148.0,73665.0,88501.0,lages,SC
1,NaN,NaN,NaN,NaN,NaN,12896.0,12586.0,24240.0,niteroi,RJ
2,NaN,NaN,NaN,NaN,NaN,38039.0,36879.0,49015.0,aracaju,SE
3,NaN,NaN,NaN,NaN,NaN,60800.0,58827.0,26052.0,nova iguacu,RJ
4,NaN,NaN,NaN,NaN,NaN,91862.0,88800.0,9619.0,sao bernardo do campo,SP
...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,32207.0,31237.0,82920.0,curitiba,PR
996,NaN,NaN,NaN,NaN,NaN,21218.0,20642.0,20080.0,rio de janeiro,RJ
997,NaN,NaN,NaN,NaN,NaN,98830.0,95531.0,18125.0,aluminio,SP
998,NaN,NaN,NaN,NaN,NaN,98636.0,95343.0,5029.0,sao paulo,SP
999,NaN,NaN,NaN,NaN,NaN,26214.0,9578.0,13059.0,campinas,SP

In [26]:
customers_df_header = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv', 
                                  nrows = 1).columns.values
customers_df_header
#type(customers_df_header)

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [28]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                            nrows = 1000,
                            skiprows = 1000,
                           names = customers_df_header
                           )
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,27843,27025,29101,vila velha,ES
1,76148,73665,88501,lages,SC
2,12896,12586,24240,niteroi,RJ
3,38039,36879,49015,aracaju,SE
4,60800,58827,26052,nova iguacu,RJ
...,...,...,...,...,...
995,82302,79580,3738,sao paulo,SP
996,32207,31237,82920,curitiba,PR
997,21218,20642,20080,rio de janeiro,RJ
998,98830,95531,18125,aluminio,SP
999,98636,95343,5029,sao paulo,SP

In [29]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                            nrows = 1000,
                            skiprows = range(1, 1000)
                           )

In [30]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,27843,27025,29101,vila velha,ES
1,76148,73665,88501,lages,SC
2,12896,12586,24240,niteroi,RJ
3,38039,36879,49015,aracaju,SE
4,60800,58827,26052,nova iguacu,RJ
...,...,...,...,...,...
995,82302,79580,3738,sao paulo,SP
996,32207,31237,82920,curitiba,PR
997,21218,20642,20080,rio de janeiro,RJ
998,98830,95531,18125,aluminio,SP
999,98636,95343,5029,sao paulo,SP

In [31]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               1000 non-null   int64
 1   customer_unique_id        1000 non-null   int64
 2   customer_zip_code_prefix  1000 non-null   int64
 3   customer_city             1000 non-null   object
 4   customer_state            1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [32]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv')
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99431 entries, 0 to 99430
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99431 non-null  int64
 1   customer_unique_id        99431 non-null  int64
 2   customer_zip_code_prefix  99431 non-null  int64
 3   customer_city             99431 non-null  object
 4   customer_state            99431 non-null  object
dtypes: int64(3), object(2)
memory usage: 3.8+ MB

In [46]:
customers_df = pd.read_csv(filepath_or_buffer = path + 'olist_customers_dataset.csv',
                           dtype = {'customer_unique_id':'uint32',
                                    'customer_id':'uint32',
                                    'customer_zip_code_prefix':'uint32',
                                    'customer_city':'category',
                                    'customer_state':'category'}
                          )
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99431 entries, 0 to 99430
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99431 non-null  uint32
 1   customer_unique_id        99431 non-null  uint32
 2   customer_zip_code_prefix  99431 non-null  uint32
 3   customer_city             99431 non-null  category
 4   customer_state            99431 non-null  category
dtypes: category(2), uint32(3)
memory usage: 1.6 MB

In [35]:
customers_df['customer_city'].unique()

<StringArray>
[           'curitiba',      'belo horizonte',       'montes claros',
      'rio de janeiro',    'lencois paulista',           'sao paulo',
       'caxias do sul',          'piracicaba',           'guarulhos',
              'pacaja',
 ...
            'balbinos',        'serra bonita',        'venda branca',
         'sanga puita',             'queiroz',              'siriji',
 'natividade da serra',        'monte bonito',          'sao rafael',
   'eugenio de castro']
Length: 4119, dtype: string

In [36]:
customers_df['customer_state'].unique()

<StringArray>
['PR', 'MG', 'RJ', 'SP', 'RS', 'PA', 'SC', 'GO', 'ES', 'BA', 'MA', 'MS', 'CE',
 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB', 'TO', 'PI', 'AC', 'SE',
 'RR']
Length: 27, dtype: string

In [38]:
import numpy as np

In [45]:
np.iinfo('uint32')

iinfo(min=0, max=4294967295, dtype=uint32)

In [43]:
customers_df.sample(n=100)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
91603,126,233,254,sao paulo,SP
71690,233,36,170,caldas novas,GO
26463,124,30,203,sao paulo,SP
46509,132,98,109,engenheiro coelho,SP
67258,157,152,36,santa maria,RS
...,...,...,...,...,...
74944,105,193,198,belo horizonte,MG
27833,188,54,188,diamantina,MG
66081,154,186,208,belo horizonte,MG
51580,33,224,82,belo horizonte,MG
2844,31,248,229,maringa,PR

In [47]:
1.6/3.8

0.4210526315789474

In [50]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [55]:
from datetime import datetime

In [57]:
orders_df = pd.read_csv(filepath_or_buffer=path+'olist_orders_dataset.csv', 
                        #nrows = 5,
                        parse_dates = list(range(3, 8)),
                        na_values = {'order_approved_at':datetime(9999,12,31),
                                     'order_delivered_carrier_date':datetime(9999,12,31),
                                     'order_delivered_customer_date':datetime(9999,12,31)
                                    }
                       )
orders_df.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1,1,shipped,2016-09-04 21:15:00,2016-10-07 13:18:00,2016-10-18 13:14:00,NaT,2016-10-20
1,2,2,canceled,2016-09-05 00:15:00,2016-10-07 13:17:00,NaT,NaT,2016-10-28
2,3,3,canceled,2016-09-13 15:24:00,2016-10-07 13:16:00,NaT,NaT,2016-09-30
3,4,4,delivered,2016-09-15 12:16:00,2016-09-15 12:16:00,2016-11-07 17:11:00,2016-11-09 07:47:00,2016-10-04
4,5,5,canceled,2016-10-02 22:07:00,2016-10-06 15:50:00,NaT,NaT,2016-10-25
5,6,6,delivered,2016-10-03 09:44:00,2016-10-06 15:50:00,2016-10-23 14:02:00,2016-10-26 14:02:00,2016-10-27
6,7,7,delivered,2016-10-03 16:56:00,2016-10-06 16:03:00,2016-10-21 16:33:00,2016-10-27 18:19:00,2016-11-07
7,8,8,canceled,2016-10-03 21:01:00,2016-10-04 10:18:00,2016-10-25 12:14:00,2016-11-08 10:58:00,2016-11-25
8,9,9,delivered,2016-10-03 21:13:00,2016-10-05 03:11:00,2016-10-25 11:57:00,2016-11-03 10:58:00,2016-11-29
9,10,10,delivered,2016-10-03 22:06:00,2016-10-04 10:28:00,2016-10-21 14:23:00,2016-10-31 11:07:00,2016-11-23

In [58]:
for item in pd.read_csv(filepath_or_buffer = path+'olist_orders_dataset.csv', chunksize = 1000):
    print(item)

     order_id  customer_id order_status order_purchase_timestamp  \
0           1            1      shipped           9/4/2016 21:15
1           2            2     canceled            9/5/2016 0:15
2           3            3     canceled          9/13/2016 15:24
3           4            4    delivered          9/15/2016 12:16
4           5            5     canceled          10/2/2016 22:07
..        ...          ...          ...                      ...
995       996          996    delivered          1/29/2017 20:03
996       997          997    delivered          1/29/2017 20:14
997       998          998    delivered          1/29/2017 20:24
998       999          999    delivered          1/29/2017 20:37
999      1000         1000    delivered          1/29/2017 20:53

    order_approved_at order_delivered_carrier_date  \
0     10/7/2016 13:18             10/18/2016 13:14
1     10/7/2016 13:17                          NaN
2     10/7/2016 13:16                          NaN
3     9/15/2016 12:16              11/7/2016 17:11
4     10/6/2016 15:50                          NaN
..                ...                          ...
995   1/29/2017 20:33              1/30/2017 16:54
996   1/29/2017 20:31              1/30/2017 11:38
997   1/29/2017 20:35              1/30/2017 10:51
998   1/29/2017 21:41               1/30/2017 8:27
999   1/29/2017 21:40              1/30/2017 11:45

    order_delivered_customer_date order_estimated_delivery_date
0                             NaN               10/20/2016 0:00
1                             NaN               10/28/2016 0:00
2                             NaN                9/30/2016 0:00
3                  11/9/2016 7:47                10/4/2016 0:00
4                             NaN               10/25/2016 0:00
..                            ...                           ...
995               2/13/2017 14:06                3/15/2017 0:00
996                2/2/2017 15:24                3/15/2017 0:00
997                2/9/2017 11:35                3/13/2017 0:00
998               2/13/2017 20:54                3/20/2017 0:00
999                2/2/2017 14:38                 3/7/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
1000      1001         1001    delivered          1/29/2017 21:40
1001      1002         1002    delivered          1/29/2017 21:46
1002      1003         1003    delivered          1/29/2017 22:14
1003      1004         1004    delivered          1/29/2017 22:47
1004      1005         1005    delivered          1/29/2017 23:24
...        ...          ...          ...                      ...
1995      1996         1996    delivered          2/12/2017 18:46
1996      1997         1997    delivered          2/12/2017 18:48
1997      1998         1998    delivered          2/12/2017 19:08
1998      1999         1999    delivered          2/12/2017 19:15
1999      2000         2000    delivered          2/12/2017 19:40

     order_approved_at order_delivered_carrier_date  \
1000   1/30/2017 22:32                2/2/2017 5:04
1001   1/29/2017 22:33              1/30/2017 14:42
1002   1/29/2017 22:33               1/30/2017 8:27
1003   1/29/2017 23:30              1/31/2017 10:26
1004    1/30/2017 0:31              1/30/2017 10:52
...                ...                          ...
1995   2/12/2017 19:02               2/13/2017 9:50
1996   2/12/2017 19:02              2/16/2017 14:42
1997   2/12/2017 19:15              2/14/2017 14:05
1998   2/12/2017 19:30               2/14/2017 9:44
1999   2/12/2017 19:50              2/14/2017 12:28

     order_delivered_customer_date order_estimated_delivery_date
1000                2/7/2017 10:46                 3/8/2017 0:00
1001                2/2/2017 17:39                 3/3/2017 0:00
1002                2/8/2017 17:14                3/20/2017 0:00
1003                 2/3/2017 6:09                3/17/2017 0:00
1004                2/7/2017 11:48                3/16/2017 0:00
...                            ...                           ...
1995               2/22/2017 10:13                3/24/2017 0:00
1996                3/1/2017 14:09                3/16/2017 0:00
1997                4/13/2017 8:29                3/14/2017 0:00
1998               2/21/2017 14:42                3/14/2017 0:00
1999                2/17/2017 6:52                3/10/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
2000      2001         2001    delivered          2/12/2017 19:48
2001      2002         2002  unavailable          2/12/2017 20:05
2002      2003         2003    delivered          2/12/2017 20:17
2003      2004         2004    delivered          2/12/2017 20:37
2004      2005         2005    delivered          2/12/2017 20:37
...        ...          ...          ...                      ...
2995      2996         2996    delivered           3/1/2017 21:44
2996      2997         2997    delivered           3/1/2017 21:44
2997      2998         2998    delivered           3/1/2017 21:45
2998      2999         2999    delivered           3/1/2017 21:58
2999      3000         3000    delivered           3/1/2017 22:03

     order_approved_at order_delivered_carrier_date  \
2000   2/12/2017 20:03              2/13/2017 11:25
2001   2/12/2017 20:15                          NaN
2002   2/12/2017 20:30              2/13/2017 11:52
2003    2/14/2017 3:50              2/17/2017 11:09
2004   2/12/2017 20:45               2/16/2017 9:23
...                ...                          ...
2995     3/3/2017 2:10               3/3/2017 11:01
2996    3/1/2017 21:55                3/2/2017 7:59
2997    3/1/2017 21:55                3/2/2017 8:05
2998    3/1/2017 22:10                3/3/2017 9:13
2999     3/3/2017 2:15               3/3/2017 11:35

     order_delivered_customer_date order_estimated_delivery_date
2000               2/21/2017 13:56                3/14/2017 0:00
2001                           NaN                3/10/2017 0:00
2002                2/24/2017 9:47                3/28/2017 0:00
2003               2/23/2017 11:28                3/10/2017 0:00
2004                3/3/2017 14:23                 3/9/2017 0:00
...                            ...                           ...
2995                3/8/2017 14:48                3/23/2017 0:00
2996                3/20/2017 9:58                3/24/2017 0:00
2997                3/13/2017 8:38                3/30/2017 0:00
2998                3/8/2017 13:30                3/20/2017 0:00
2999               3/13/2017 11:52                 4/5/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
3000      3001         3001    delivered           3/1/2017 22:05
3001      3002         3002    delivered           3/1/2017 22:10
3002      3003         3003    delivered           3/1/2017 22:43
3003      3004         3004    delivered           3/1/2017 22:45
3004      3005         3005    delivered           3/1/2017 23:09
...        ...          ...          ...                      ...
3995      3996         3996    delivered          3/13/2017 23:02
3996      3997         3997    delivered          3/13/2017 23:05
3997      3998         3998    delivered          3/13/2017 23:13
3998      3999         3999    delivered          3/13/2017 23:23
3999      4000         4000    delivered          3/13/2017 23:37

     order_approved_at order_delivered_carrier_date  \
3000    3/1/2017 22:22               3/2/2017 10:25
3001    3/1/2017 22:25               3/3/2017 14:27
3002     3/2/2017 4:15                3/2/2017 7:52
3003    3/1/2017 22:55               3/7/2017 11:07
3004    3/1/2017 23:22               3/2/2017 16:23
...                ...                          ...
3995   3/13/2017 23:02              3/17/2017 13:55
3996   3/13/2017 23:05               3/14/2017 9:26
3997   3/13/2017 23:13              3/14/2017 14:54
3998   3/13/2017 23:23               3/14/2017 9:35
3999   3/13/2017 23:37               3/21/2017 9:55

     order_delivered_customer_date order_estimated_delivery_date
3000                3/8/2017 15:31                3/27/2017 0:00
3001                3/7/2017 17:03                3/27/2017 0:00
3002                 3/8/2017 4:56                3/20/2017 0:00
3003                3/13/2017 7:55                3/20/2017 0:00
3004                 3/4/2017 8:21                3/20/2017 0:00
...                            ...                           ...
3995                4/4/2017 14:53                 4/3/2017 0:00
3996               3/22/2017 11:19                 4/7/2017 0:00
3997               3/20/2017 15:08                4/13/2017 0:00
3998                3/15/2017 9:27                3/30/2017 0:00
3999               3/28/2017 14:27                 4/4/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
4000      4001         4001    delivered          3/13/2017 23:46
4001      4002         4002    delivered           3/14/2017 0:01
4002      4003         4003    delivered           3/14/2017 0:25
4003      4004         4004    delivered           3/14/2017 0:26
4004      4005         4005    delivered           3/14/2017 0:31
...        ...          ...          ...                      ...
4995      4996         4996    delivered          3/24/2017 19:36
4996      4997         4997    delivered          3/24/2017 19:38
4997      4998         4998    delivered          3/24/2017 20:06
4998      4999         4999    delivered          3/24/2017 20:44
4999      5000         5000    delivered          3/24/2017 20:56

     order_approved_at order_delivered_carrier_date  \
4000   3/13/2017 23:46              3/14/2017 10:22
4001    3/14/2017 0:01              3/15/2017 10:34
4002    3/14/2017 0:25              3/15/2017 16:16
4003    3/14/2017 0:26               3/21/2017 9:51
4004    3/14/2017 0:31               3/22/2017 5:29
...                ...                          ...
4995   3/24/2017 19:50               3/31/2017 7:43
4996   3/24/2017 19:50              3/27/2017 10:20
4997   3/24/2017 20:22              3/27/2017 14:06
4998   3/24/2017 20:55              3/27/2017 11:26
4999   3/24/2017 20:56              3/27/2017 15:39

     order_delivered_customer_date order_estimated_delivery_date
4000               3/16/2017 10:34                 4/3/2017 0:00
4001               3/21/2017 12:35                 4/4/2017 0:00
4002                3/31/2017 9:27                4/18/2017 0:00
4003                4/4/2017 17:18                 4/7/2017 0:00
4004               3/22/2017 13:28                4/17/2017 0:00
...                            ...                           ...
4995                4/7/2017 13:20                4/19/2017 0:00
4996               3/30/2017 15:22                4/18/2017 0:00
4997                4/12/2017 7:55                4/28/2017 0:00
4998               3/30/2017 16:57                4/19/2017 0:00
4999                4/4/2017 14:04                4/17/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
5000      5001         5001    delivered          3/24/2017 20:59
5001      5002         5002    delivered          3/24/2017 21:17
5002      5003         5003    delivered          3/24/2017 21:27
5003      5004         5004    delivered          3/24/2017 21:35
5004      5005         5005    delivered          3/24/2017 21:35
...        ...          ...          ...                      ...
5995      5996         5996    delivered            4/6/2017 9:53
5996      5997         5997    delivered           4/6/2017 10:10
5997      5998         5998    delivered           4/6/2017 10:21
5998      5999         5999    delivered           4/6/2017 10:25
5999      6000         6000    delivered           4/6/2017 10:31

     order_approved_at order_delivered_carrier_date  \
5000   3/24/2017 21:10               3/27/2017 8:09
5001   3/24/2017 21:25              3/29/2017 12:49
5002    3/28/2017 3:45              3/28/2017 14:31
5003   3/24/2017 21:45              3/28/2017 15:27
5004   3/24/2017 21:35              3/29/2017 11:04
...                ...                          ...
5995     4/7/2017 3:15               4/7/2017 14:42
5996    4/6/2017 10:25               4/6/2017 10:55
5997     4/7/2017 3:15              4/10/2017 12:04
5998    4/6/2017 10:35               4/7/2017 16:15
5999    4/6/2017 10:42               4/7/2017 10:07

     order_delivered_customer_date order_estimated_delivery_date
5000               3/31/2017 14:42                4/17/2017 0:00
5001                4/3/2017 14:57                4/25/2017 0:00
5002                4/4/2017 15:34                4/17/2017 0:00
5003               3/31/2017 18:36                4/17/2017 0:00
5004                 4/7/2017 7:34                4/12/2017 0:00
...                            ...                           ...
5995               4/12/2017 11:38                 5/2/2017 0:00
5996               4/12/2017 13:22                 5/2/2017 0:00
5997               4/18/2017 14:10                 5/9/2017 0:00
5998                4/15/2017 9:22                 5/2/2017 0:00
5999               4/17/2017 15:44                 5/2/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
6000      6001         6001    delivered           4/6/2017 10:44
6001      6002         6002    delivered           4/6/2017 10:48
6002      6003         6003    delivered           4/6/2017 10:50
6003      6004         6004    delivered           4/6/2017 10:52
6004      6005         6005    delivered           4/6/2017 10:54
...        ...          ...          ...                      ...
6995      6996         6996    delivered           4/20/2017 9:22
6996      6997         6997    delivered           4/20/2017 9:25
6997      6998         6998    delivered           4/20/2017 9:41
6998      6999         6999    delivered           4/20/2017 9:46
6999      7000         7000    delivered           4/20/2017 9:47

     order_approved_at order_delivered_carrier_date  \
6000    4/6/2017 10:55               4/6/2017 15:00
6001    4/6/2017 11:02               4/7/2017 12:49
6002    4/6/2017 11:02               4/7/2017 16:28
6003    4/6/2017 11:05               4/7/2017 14:58
6004    4/6/2017 11:05               4/6/2017 15:43
...                ...                          ...
6995    4/20/2017 9:35              4/20/2017 11:21
6996    4/20/2017 9:35              4/24/2017 10:27
6997    4/20/2017 9:55              4/20/2017 12:47
6998    4/25/2017 8:11              4/25/2017 18:52
6999   4/20/2017 10:01              4/20/2017 18:15

     order_delivered_customer_date order_estimated_delivery_date
6000               4/13/2017 17:46                 5/2/2017 0:00
6001               4/17/2017 13:08                 5/8/2017 0:00
6002               4/12/2017 12:55                 5/2/2017 0:00
6003                5/8/2017 12:02                5/10/2017 0:00
6004                4/7/2017 16:43                4/27/2017 0:00
...                            ...                           ...
6995               4/28/2017 12:29                5/12/2017 0:00
6996                5/3/2017 11:42                5/16/2017 0:00
6997               4/26/2017 13:28                5/12/2017 0:00
6998                5/5/2017 12:30                5/24/2017 0:00
6999                5/2/2017 13:28                5/12/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
7000      7001         7001    delivered           4/20/2017 9:48
7001      7002         7002    delivered           4/20/2017 9:53
7002      7003         7003    delivered           4/20/2017 9:57
7003      7004         7004    delivered          4/20/2017 10:11
7004      7005         7005    delivered          4/20/2017 10:14
...        ...          ...          ...                      ...
7995      7996         7996    delivered            5/1/2017 1:18
7996      7997         7997      shipped            5/1/2017 8:29
7997      7998         7998    delivered            5/1/2017 8:58
7998      7999         7999    delivered            5/1/2017 8:59
7999      8000         8000    delivered            5/1/2017 9:35

     order_approved_at order_delivered_carrier_date  \
7000    4/25/2017 8:23              4/27/2017 10:41
7001    4/21/2017 5:33              4/25/2017 10:59
7002   4/20/2017 10:05              4/20/2017 16:15
7003   4/25/2017 21:36               4/27/2017 8:06
7004   4/21/2017 10:21              4/24/2017 17:37
...                ...                          ...
7995     5/1/2017 2:55               5/9/2017 13:58
7996     5/1/2017 8:42               5/3/2017 11:16
7997     5/1/2017 9:10               5/2/2017 13:12
7998    5/3/2017 11:35               5/5/2017 13:58
7999     5/1/2017 9:50               5/3/2017 12:10

     order_delivered_customer_date order_estimated_delivery_date
7000                 5/9/2017 8:38                5/12/2017 0:00
7001                5/5/2017 18:35                5/18/2017 0:00
7002                5/2/2017 14:33                5/24/2017 0:00
7003                5/5/2017 13:48                5/16/2017 0:00
7004               5/12/2017 16:57                5/12/2017 0:00
...                            ...                           ...
7995               5/12/2017 12:23                 6/1/2017 0:00
7996                           NaN                 6/8/2017 0:00
7997                5/5/2017 13:07                5/24/2017 0:00
7998                5/10/2017 9:13                5/23/2017 0:00
7999                5/5/2017 17:42                5/25/2017 0:00

[1000 rows x 8 columns]
      order_id  customer_id order_status order_purchase_timestamp  \
8000      8001         8001    delivered            5/1/2017 9:40
8001      8002         8002    delivered            5/1/2017 9:54
8002      8003         8003    delivered           5/1/2017 10:02
8003      8004         8004    delivered           5/1/2017 10:03
8004      8005         8005    delivered           5/1/2017 10:16
...        ...          ...          ...                      ...
8995      8996         8996    delivered           5/9/2017 19:24
8996      8997         8997    delivered           5/9/2017 19:28
8997      8998         8998  unavailable           5/9/2017 19:59
8998      8999         8999    delivered           5/9/2017 20:21
8999      9000         9000    delivered           5/9/2017 20:24

     order_approved_at order_delivered_carrier_date  \
8000     5/1/2017 9:50               5/4/2017 11:52
8001    5/1/2017 10:05               5/2/2017 16:26
8002    5/1/2017 10:10               5/4/2017 10:24
8003    5/4/2017 10:35               5/5/2017 15:48
8004    5/1/2017 10:25                5/2/2017 7:37
...                ...                          ...
8995    5/11/2017 4:22              5/11/2017 13:33
8996    5/9/2017 19:42              5/16/2017 15:36
8997   5/14/2017 21:32                          NaN
8998    5/11/2017 3:56              5/11/2017 10:39
8999    5/9/2017 20:42              5/10/2017 13:23

     order_delivered_customer_date order_estimated_delivery_date
8000                5/8/2017 13:37                5/23/2017 0:00
8001                5/4/2017 14:46                5/23/2017 0:00
8002                5/9/2017 11:04                5/29/2017 0:00
8003                5/12/2017 7:56                5/26/2017 0:00
8004                6/1/2017 17:48                 6/2/2017 0:00
...                            ...                           ...
8995               5/20/2017 11:43                5/29/2017 0:00
8996               5/17/2017 10:42                5/25/2017 0:00
8997                           NaN                5/25/2017 0:00
8998                6/5/2017 15:32                 6/9/2017 0:00
8999               5/11/2017 10:04                5/17/2017 0:00

       order_id  customer_id order_status order_purchase_timestamp  \
18000     18001        18001    delivered          7/24/2017 19:45
18001     18002        18002    delivered          7/24/2017 19:48
18002     18003        18003    delivered          7/24/2017 20:01
18003     18004        18004    delivered          7/24/2017 20:06
18004     18005        18005    delivered          7/24/2017 20:10
...         ...          ...          ...                      ...
18995     18996        18996    delivered           8/1/2017 10:29
18996     18997        18997    delivered           8/1/2017 10:29
18997     18998        18998    delivered           8/1/2017 10:30
18998     18999        18999    delivered           8/1/2017 10:31
18999     19000        19000    delivered           8/1/2017 10:40

      order_approved_at order_delivered_carrier_date  \
18000    7/26/2017 2:25              7/26/2017 16:19
18001   7/24/2017 20:03              7/31/2017 18:56
18002   7/24/2017 20:15               8/8/2017 14:17
18003   7/24/2017 20:23              7/26/2017 10:42
18004   7/24/2017 20:25               7/26/2017 1:42
...                 ...                          ...
18995    8/1/2017 10:43               8/3/2017 13:42
18996    8/1/2017 10:45               8/8/2017 16:22
18997    8/1/2017 10:50               8/2/2017 20:06
18998    8/1/2017 10:45               8/1/2017 18:39
18999    8/1/2017 10:50               8/3/2017 18:14

      order_delivered_customer_date order_estimated_delivery_date
18000                8/1/2017 20:53                8/15/2017 0:00
18001                8/9/2017 20:53                8/29/2017 0:00
18002               8/10/2017 20:44                8/21/2017 0:00
18003                8/8/2017 17:43                8/17/2017 0:00
18004                8/2/2017 12:54                8/15/2017 0:00
...                             ...                           ...
18995                8/4/2017 20:03                8/14/2017 0:00
18996               8/17/2017 18:57                8/23/2017 0:00
18997                8/7/2017 17:19                8/23/2017 0:00
18998                8/8/2017 20:10                8/28/2017 0:00
18999                8/4/2017 20:21                8/14/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
19000     19001        19001    delivered           8/1/2017 11:03
19001     19002        19002    delivered           8/1/2017 11:04
19002     19003        19003    delivered           8/1/2017 11:12
19003     19004        19004    delivered           8/1/2017 11:12
19004     19005        19005    delivered           8/1/2017 11:17
...         ...          ...          ...                      ...
19995     19996        19996    delivered           8/8/2017 12:49
19996     19997        19997    delivered           8/8/2017 12:49
19997     19998        19998    delivered           8/8/2017 13:10
19998     19999        19999    delivered           8/8/2017 13:20
19999     20000        20000    delivered           8/8/2017 13:24

      order_approved_at order_delivered_carrier_date  \
19000     8/2/2017 2:51               8/8/2017 15:18
19001     8/2/2017 3:04               8/3/2017 15:13
19002    8/1/2017 11:30                8/8/2017 2:19
19003     8/2/2017 6:45               8/4/2017 15:54
19004     8/2/2017 3:04               8/2/2017 20:33
...                 ...                          ...
19995    8/8/2017 13:03              8/10/2017 16:50
19996    8/8/2017 13:43              8/10/2017 18:15
19997    8/10/2017 3:25              8/11/2017 20:04
19998     8/9/2017 2:55              8/11/2017 17:16
19999     8/9/2017 2:45              8/15/2017 20:54

      order_delivered_customer_date order_estimated_delivery_date
19000               8/11/2017 20:15                8/23/2017 0:00
19001               8/10/2017 17:34                8/28/2017 0:00
19002                8/8/2017 19:52                8/14/2017 0:00
19003               8/22/2017 13:51                8/25/2017 0:00
19004                8/7/2017 22:27                8/21/2017 0:00
...                             ...                           ...
19995               8/12/2017 17:03                8/28/2017 0:00
19996               8/16/2017 21:42                 9/1/2017 0:00
19997               8/17/2017 18:30                8/30/2017 0:00
19998               8/21/2017 18:44                 9/5/2017 0:00
19999               8/23/2017 20:26                 9/5/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
20000     20001        20001    delivered           8/8/2017 13:37
20001     20002        20002    delivered           8/8/2017 13:44
20002     20003        20003    delivered           8/8/2017 13:48
20003     20004        20004    delivered           8/8/2017 13:50
20004     20005        20005    delivered           8/8/2017 14:20
...         ...          ...          ...                      ...
20995     20996        20996    delivered          8/15/2017 15:51
20996     20997        20997    delivered          8/15/2017 15:52
20997     20998        20998    delivered          8/15/2017 15:57
20998     20999        20999    delivered          8/15/2017 15:58
20999     21000        21000    delivered          8/15/2017 16:00

      order_approved_at order_delivered_carrier_date  \
20000    8/8/2017 13:50              8/10/2017 17:18
20001    8/9/2017 17:35              8/10/2017 20:52
20002     8/9/2017 2:50              8/16/2017 23:12
20003    8/10/2017 3:23              8/11/2017 17:04
20004    8/9/2017 12:35              8/18/2017 16:05
...                 ...                          ...
20995   8/15/2017 16:45              8/18/2017 17:05
20996   8/15/2017 16:45              8/19/2017 14:47
20997   8/15/2017 17:10              8/21/2017 11:23
20998   8/15/2017 17:10              8/16/2017 18:47
20999   8/15/2017 17:10              8/16/2017 18:10

      order_delivered_customer_date order_estimated_delivery_date
20000               8/11/2017 20:11                8/23/2017 0:00
20001               8/21/2017 21:59                 9/8/2017 0:00
20002               8/21/2017 17:16                8/28/2017 0:00
20003               8/25/2017 18:24                 9/1/2017 0:00
20004                9/4/2017 18:34                9/12/2017 0:00
...                             ...                           ...
20995               8/24/2017 16:13                 9/8/2017 0:00
20996               10/9/2017 20:05                 9/6/2017 0:00
20997               8/22/2017 15:42                8/30/2017 0:00
20998               8/28/2017 19:23                9/19/2017 0:00
20999                9/1/2017 19:26                9/11/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
21000     21001        21001    delivered          8/15/2017 16:02
21001     21002        21002    delivered          8/15/2017 16:09
21002     21003        21003    delivered          8/15/2017 16:13
21003     21004        21004    delivered          8/15/2017 16:17
21004     21005        21005    delivered          8/15/2017 16:20
...         ...          ...          ...                      ...
21995     21996        21996    delivered          8/22/2017 12:03
21996     21997        21997    delivered          8/22/2017 12:05
21997     21998        21998    delivered          8/22/2017 12:06
21998     21999        21999    delivered          8/22/2017 12:09
21999     22000        22000    delivered          8/22/2017 12:18

      order_approved_at order_delivered_carrier_date  \
21000    8/16/2017 3:30              8/23/2017 13:52
21001    8/17/2017 3:06              8/17/2017 12:54
21002   8/15/2017 17:25              8/21/2017 11:48
21003   8/15/2017 17:26              8/16/2017 18:18
21004   8/16/2017 17:15              8/17/2017 18:38
...                 ...                          ...
21995   8/22/2017 12:15              8/28/2017 18:27
21996   8/22/2017 12:15              8/23/2017 17:03
21997   8/22/2017 12:26              8/23/2017 20:56
21998   8/22/2017 12:26              8/24/2017 19:05
21999   8/22/2017 12:46              8/24/2017 22:49

      order_delivered_customer_date order_estimated_delivery_date
21000                9/2/2017 13:03                9/19/2017 0:00
21001               8/21/2017 21:27                 9/6/2017 0:00
21002               8/29/2017 20:38                9/13/2017 0:00
21003               8/30/2017 21:10                9/19/2017 0:00
21004               8/30/2017 21:04                9/20/2017 0:00
...                             ...                           ...
21995               8/31/2017 19:32                9/18/2017 0:00
21996               8/31/2017 20:06                9/14/2017 0:00
21997               8/24/2017 15:28                 9/4/2017 0:00
21998                9/6/2017 16:43                9/12/2017 0:00
21999                9/5/2017 19:47                9/20/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
22000     22001        22001    delivered          8/22/2017 12:42
22001     22002        22002    delivered          8/22/2017 12:44
22002     22003        22003    delivered          8/22/2017 12:49
22003     22004        22004    delivered          8/22/2017 12:49
22004     22005        22005    delivered          8/22/2017 12:49
...         ...          ...          ...                      ...
22995     22996        22996    delivered          8/30/2017 10:11
22996     22997        22997     invoiced          8/30/2017 10:13
22997     22998        22998    delivered          8/30/2017 10:24
22998     22999        22999    delivered          8/30/2017 10:34
22999     23000        23000    delivered          8/30/2017 10:38

      order_approved_at order_delivered_carrier_date  \
22000    9/1/2017 17:30               9/2/2017 11:32
22001    8/23/2017 2:46              8/23/2017 20:09
22002   8/22/2017 13:07              8/31/2017 14:18
22003   8/22/2017 13:07              8/31/2017 13:55
22004   8/22/2017 13:07              8/31/2017 13:18
...                 ...                          ...
22995    8/31/2017 2:35               9/1/2017 20:55
22996     9/1/2017 2:24                          NaN
22997   8/30/2017 10:35              8/31/2017 22:42
22998   8/30/2017 10:45              8/31/2017 14:26
22999   8/30/2017 10:55               9/1/2017 15:14

      order_delivered_customer_date order_estimated_delivery_date
22000               9/13/2017 21:29                9/14/2017 0:00
22001                9/1/2017 22:40                9/14/2017 0:00
22002                9/6/2017 16:27                9/18/2017 0:00
22003                9/5/2017 18:40                9/18/2017 0:00
22004                9/5/2017 18:57                9/18/2017 0:00
...                             ...                           ...
22995               9/11/2017 18:23                10/9/2017 0:00
22996                           NaN                9/13/2017 0:00
22997                9/6/2017 19:57                9/20/2017 0:00
22998                9/5/2017 19:37                9/12/2017 0:00
22999                9/6/2017 22:12                9/21/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
23000     23001        23001    delivered          8/30/2017 10:40
23001     23002        23002    delivered          8/30/2017 10:46
23002     23003        23003    delivered          8/30/2017 10:51
23003     23004        23004    delivered          8/30/2017 10:56
23004     23005        23005    delivered          8/30/2017 10:56
...         ...          ...          ...                      ...
23995     23996        23996    delivered            9/6/2017 1:19
23996     23997        23997    delivered            9/6/2017 1:29
23997     23998        23998    delivered            9/6/2017 5:47
23998     23999        23999    delivered            9/6/2017 7:36
23999     24000        24000    delivered            9/6/2017 7:52

      order_approved_at order_delivered_carrier_date  \
23000     9/1/2017 4:34               9/4/2017 22:08
23001   8/30/2017 11:04               9/1/2017 15:14
23002   8/30/2017 11:05              8/31/2017 19:36
23003   8/30/2017 11:10               9/4/2017 14:52
23004   8/30/2017 11:10              8/30/2017 21:16
...                 ...                          ...
23995     9/9/2017 4:50              9/11/2017 18:27
23996     9/6/2017 1:44              9/12/2017 17:51
23997     9/7/2017 6:42               9/8/2017 17:51
23998    9/6/2017 10:36               9/6/2017 18:07
23999     9/7/2017 2:50               9/8/2017 16:03

      order_delivered_customer_date order_estimated_delivery_date
23000                9/8/2017 17:13                9/26/2017 0:00
23001               9/15/2017 19:31                9/21/2017 0:00
23002               9/13/2017 20:10                9/28/2017 0:00
23003               9/12/2017 21:24                9/28/2017 0:00
23004                9/8/2017 17:33                9/21/2017 0:00
...                             ...                           ...
23995               9/14/2017 20:34                9/25/2017 0:00
23996               9/19/2017 14:33                9/29/2017 0:00
23997               9/15/2017 15:04                9/28/2017 0:00
23998               9/14/2017 18:55                9/26/2017 0:00
23999               9/15/2017 18:49                9/25/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
24000     24001        24001    delivered            9/6/2017 7:56
24001     24002        24002    delivered            9/6/2017 8:34
24002     24003        24003    delivered            9/6/2017 8:46
24003     24004        24004    delivered            9/6/2017 8:46
24004     24005        24005    delivered            9/6/2017 8:53
...         ...          ...          ...                      ...
24995     24996        24996    delivered           9/13/2017 8:23
24996     24997        24997    delivered           9/13/2017 8:35
24997     24998        24998    delivered           9/13/2017 8:38
24998     24999        24999    delivered           9/13/2017 8:42
24999     25000        25000    delivered           9/13/2017 8:45

      order_approved_at order_delivered_carrier_date  \
24000     9/7/2017 2:55               9/12/2017 9:20
24001    9/8/2017 10:25              9/11/2017 19:47
24002     9/9/2017 5:04              9/12/2017 21:18
24003     9/6/2017 9:03               9/8/2017 15:29
24004     9/6/2017 9:05               9/8/2017 19:21
...                 ...                          ...
24995    9/13/2017 8:30              9/14/2017 13:37
24996    9/14/2017 2:55              9/15/2017 18:55
24997    9/14/2017 3:05              9/15/2017 21:23
24998    9/14/2017 2:43              9/19/2017 19:13
24999    9/13/2017 8:55              9/14/2017 15:17

      order_delivered_customer_date order_estimated_delivery_date
24000               9/14/2017 19:52                9/25/2017 0:00
24001               9/15/2017 13:37                9/26/2017 0:00
24002               9/19/2017 21:45                10/4/2017 0:00
24003               9/18/2017 20:53                9/28/2017 0:00
24004               9/26/2017 21:37                10/5/2017 0:00
...                             ...                           ...
24995               9/27/2017 17:12                10/4/2017 0:00
24996               9/26/2017 20:33                10/6/2017 0:00
24997               9/20/2017 14:34               10/10/2017 0:00
24998               9/27/2017 21:22                10/6/2017 0:00
24999               9/19/2017 22:33                10/3/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
25000     25001        25001    delivered           9/13/2017 8:54
25001     25002        25002    delivered           9/13/2017 8:54
25002     25003        25003    delivered           9/13/2017 8:59
25003     25004        25004    delivered           9/13/2017 9:12
25004     25005        25005    delivered           9/13/2017 9:15
...         ...          ...          ...                      ...
25995     25996        25996    delivered          9/19/2017 13:36
25996     25997        25997    delivered          9/19/2017 13:40
25997     25998        25998    delivered          9/19/2017 13:53
25998     25999        25999    delivered          9/19/2017 13:58
25999     26000        26000    delivered          9/19/2017 14:01

      order_approved_at order_delivered_carrier_date  \
25000    9/13/2017 9:45              9/13/2017 20:47
25001    9/15/2017 2:26              9/19/2017 16:58
25002    9/13/2017 9:45              9/19/2017 18:34
25003   9/15/2017 16:10              9/18/2017 17:19
25004   9/13/2017 13:50              9/14/2017 16:21
...                 ...                          ...
25995   9/19/2017 13:45              9/20/2017 19:08
25996   9/19/2017 13:51              9/20/2017 19:19
25997   9/19/2017 14:10              9/28/2017 11:55
25998   9/19/2017 14:10              9/21/2017 12:40
25999   9/19/2017 14:10              9/21/2017 15:32

      order_delivered_customer_date order_estimated_delivery_date
25000               9/27/2017 13:57               10/10/2017 0:00
25001               9/26/2017 18:32                9/29/2017 0:00
25002               9/20/2017 23:43                9/29/2017 0:00
25003               9/25/2017 21:29                10/5/2017 0:00
25004               9/22/2017 22:08                10/5/2017 0:00
...                             ...                           ...
25995              10/11/2017 19:32               10/18/2017 0:00
25996               10/3/2017 18:34               10/10/2017 0:00
25997               10/3/2017 21:13                9/29/2017 0:00
25998               9/26/2017 19:00                10/5/2017 0:00
25999               10/4/2017 22:55               10/10/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
26000     26001        26001    delivered          9/19/2017 14:06
26001     26002        26002    delivered          9/19/2017 14:09
26002     26003        26003    delivered          9/19/2017 14:11
26003     26004        26004    delivered          9/19/2017 14:23
26004     26005        26005    delivered          9/19/2017 14:27
...         ...          ...          ...                      ...
26995     26996        26996    delivered          9/26/2017 17:09
26996     26997        26997    delivered          9/26/2017 17:11
26997     26998        26998    delivered          9/26/2017 17:20
26998     26999        26999    delivered          9/26/2017 17:22
26999     27000        27000    delivered          9/26/2017 17:26

      order_approved_at order_delivered_carrier_date  \
26000   9/19/2017 14:15              9/21/2017 19:10
26001    9/20/2017 2:24              9/21/2017 16:49
26002   9/19/2017 14:30              9/20/2017 20:27
26003   9/19/2017 14:35              9/21/2017 18:37
26004   9/19/2017 14:44              9/21/2017 21:00
...                 ...                          ...
26995   9/26/2017 17:26              9/29/2017 13:09
26996   9/26/2017 17:28              9/29/2017 20:21
26997   9/27/2017 10:07              9/27/2017 16:19
26998    9/28/2017 2:56              9/29/2017 16:19
26999   9/26/2017 17:35              9/28/2017 17:40

      order_delivered_customer_date order_estimated_delivery_date
26000               9/25/2017 20:23                10/6/2017 0:00
26001               9/26/2017 17:57               10/11/2017 0:00
26002               9/27/2017 21:07               10/11/2017 0:00
26003              10/10/2017 19:49               10/17/2017 0:00
26004              10/10/2017 17:12               10/13/2017 0:00

       order_id  customer_id order_status order_purchase_timestamp  \
38000     38001        38001    delivered          11/26/2017 0:26
38001     38002        38002    delivered          11/26/2017 0:27
38002     38003        38003    delivered          11/26/2017 0:28
38003     38004        38004    delivered          11/26/2017 0:35
38004     38005        38005    delivered          11/26/2017 0:47
...         ...          ...          ...                      ...
38995     38996        38996    delivered         11/28/2017 15:41
38996     38997        38997    delivered         11/28/2017 15:43
38997     38998        38998    delivered         11/28/2017 15:52
38998     38999        38999    delivered         11/28/2017 15:52
38999     39000        39000    delivered         11/28/2017 15:53

      order_approved_at order_delivered_carrier_date  \
38000   11/26/2017 0:38               12/5/2017 1:23
38001   11/26/2017 0:33             11/27/2017 22:14
38002   11/26/2017 0:52             11/29/2017 23:24
38003   11/26/2017 0:53             11/28/2017 16:39
38004   11/26/2017 0:58              12/4/2017 22:07
...                 ...                          ...
38995   11/29/2017 2:16             11/29/2017 23:31
38996  11/28/2017 16:02             11/30/2017 17:12
38997  11/28/2017 16:17              12/1/2017 19:29
38998  11/28/2017 16:17              12/1/2017 22:09
38999  11/28/2017 16:17               12/6/2017 0:33

      order_delivered_customer_date order_estimated_delivery_date
38000              12/19/2017 17:25               12/18/2017 0:00
38001              12/19/2017 21:13               12/20/2017 0:00
38002              12/13/2017 22:05               12/20/2017 0:00
38003              12/11/2017 17:49               12/15/2017 0:00
38004              12/28/2017 19:28               12/15/2017 0:00
...                             ...                           ...
38995               12/1/2017 18:08               12/18/2017 0:00
38996               12/7/2017 17:31               12/27/2017 0:00
38997               1/12/2018 21:46               12/22/2017 0:00
38998              12/14/2017 16:21               12/19/2017 0:00
38999               12/8/2017 18:15               12/19/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
39000     39001        39001    delivered         11/28/2017 15:53
39001     39002        39002    delivered         11/28/2017 15:53
39002     39003        39003    delivered         11/28/2017 15:54
39003     39004        39004    delivered         11/28/2017 15:55
39004     39005        39005    delivered         11/28/2017 15:55
...         ...          ...          ...                      ...
39995     39996        39996    delivered          12/1/2017 21:15
39996     39997        39997    delivered          12/1/2017 21:16
39997     39998        39998    delivered          12/1/2017 21:17
39998     39999        39999    delivered          12/1/2017 21:19
39999     40000        40000    delivered          12/1/2017 21:21

      order_approved_at order_delivered_carrier_date  \
39000  11/28/2017 16:17             12/12/2017 23:22
39001  11/28/2017 16:17             11/29/2017 16:17
39002  11/28/2017 16:17             11/29/2017 16:12
39003  11/28/2017 16:17               12/2/2017 0:06
39004  11/28/2017 16:17              12/1/2017 15:38
...                 ...                          ...
39995   12/1/2017 21:32              12/4/2017 18:12
39996   12/1/2017 21:32              12/4/2017 21:42
39997   12/1/2017 21:32             12/11/2017 17:16
39998   12/1/2017 21:32              12/6/2017 15:54
39999   12/1/2017 21:33              12/6/2017 13:23

      order_delivered_customer_date order_estimated_delivery_date
39000              12/19/2017 20:49               12/18/2017 0:00
39001               12/2/2017 16:05               12/18/2017 0:00
39002               12/20/2017 0:42               12/18/2017 0:00
39003               12/6/2017 13:28               12/18/2017 0:00
39004               12/12/2017 0:39               12/12/2017 0:00
...                             ...                           ...
39995              12/16/2017 18:32                 1/3/2018 0:00
39996               12/8/2017 22:33                 1/8/2018 0:00
39997              12/19/2017 12:22               12/28/2017 0:00
39998              12/17/2017 18:44               12/19/2017 0:00
39999              12/19/2017 19:43               12/29/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
40000     40001        40001    delivered          12/1/2017 21:24
40001     40002        40002    delivered          12/1/2017 21:25
40002     40003        40003    delivered          12/1/2017 21:26
40003     40004        40004    delivered          12/1/2017 21:37
40004     40005        40005    delivered          12/1/2017 21:39
...         ...          ...          ...                      ...
40995     40996        40996    delivered          12/5/2017 16:39
40996     40997        40997    delivered          12/5/2017 16:47
40997     40998        40998    delivered          12/5/2017 16:48
40998     40999        40999    delivered          12/5/2017 16:54
40999     41000        41000    delivered          12/5/2017 16:57

      order_approved_at order_delivered_carrier_date  \
40000    12/5/2017 4:13              12/6/2017 21:38
40001   12/1/2017 21:37              12/4/2017 16:54
40002    12/5/2017 4:13              12/5/2017 16:34
40003   12/1/2017 21:55              12/4/2017 18:16
40004   12/1/2017 21:55              12/4/2017 18:32
...                 ...                          ...
40995   12/5/2017 16:56               12/7/2017 2:32
40996   12/5/2017 16:58             12/11/2017 12:32
40997    12/6/2017 2:50              12/14/2017 1:33
40998   12/5/2017 17:12              12/7/2017 22:27
40999   12/5/2017 17:12               12/8/2017 1:39

      order_delivered_customer_date order_estimated_delivery_date
40000              12/14/2017 19:51               12/27/2017 0:00
40001              12/11/2017 18:52               12/26/2017 0:00
40002              12/19/2017 21:52                 1/3/2018 0:00
40003              12/19/2017 15:19               12/26/2017 0:00
40004              12/28/2017 21:58                 1/2/2018 0:00
...                             ...                           ...
40995               1/30/2018 17:55               12/28/2017 0:00
40996              12/18/2017 16:38               12/29/2017 0:00
40997              12/23/2017 19:15                 1/2/2018 0:00
40998              12/27/2017 22:26                 1/8/2018 0:00
40999               12/20/2017 1:48               12/29/2017 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
41000     41001        41001    delivered          12/5/2017 16:58
41001     41002        41002    delivered          12/5/2017 17:10
41002     41003        41003    delivered          12/5/2017 17:11
41003     41004        41004    delivered          12/5/2017 17:12
41004     41005        41005    delivered          12/5/2017 17:14
...         ...          ...          ...                      ...
41995     41996        41996    delivered          12/10/2017 9:18
41996     41997        41997    delivered          12/10/2017 9:22
41997     41998        41998    delivered          12/10/2017 9:22
41998     41999        41999    delivered          12/10/2017 9:28
41999     42000        42000    delivered          12/10/2017 9:29

      order_approved_at order_delivered_carrier_date  \
41000   12/5/2017 17:12              12/6/2017 19:41
41001   12/5/2017 17:31               12/7/2017 0:38
41002   12/5/2017 18:04              12/6/2017 21:35
41003   12/5/2017 18:04             12/11/2017 23:46
41004   12/5/2017 17:33              12/8/2017 23:58
...                 ...                          ...
41995   12/10/2017 9:30             12/13/2017 20:22
41996   12/10/2017 9:33             12/12/2017 12:44
41997   12/10/2017 9:32             12/12/2017 20:07
41998   12/10/2017 9:38             12/11/2017 16:23
41999   12/10/2017 9:50             12/19/2017 17:23

      order_delivered_customer_date order_estimated_delivery_date
41000              12/15/2017 13:38                 1/9/2018 0:00
41001               12/19/2017 1:38                 1/4/2018 0:00
41002              12/13/2017 14:43               12/28/2017 0:00
41003              12/12/2017 21:27               12/21/2017 0:00
41004              12/11/2017 17:18               12/21/2017 0:00
...                             ...                           ...
41995              12/19/2017 20:34               12/28/2017 0:00
41996              12/23/2017 13:53                 1/5/2018 0:00
41997              12/26/2017 23:22                 1/8/2018 0:00
41998              12/20/2017 17:52                 1/4/2018 0:00
41999              12/21/2017 19:37                 1/4/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
42000     42001        42001    delivered          12/10/2017 9:39
42001     42002        42002    delivered          12/10/2017 9:44
42002     42003        42003    delivered          12/10/2017 9:46
42003     42004        42004    delivered          12/10/2017 9:54
42004     42005        42005    delivered         12/10/2017 10:03
...         ...          ...          ...                      ...
42995     42996        42996    delivered         12/14/2017 13:14
42996     42997        42997    delivered         12/14/2017 13:21
42997     42998        42998    delivered         12/14/2017 13:29
42998     42999        42999    delivered         12/14/2017 13:29
42999     43000        43000    delivered         12/14/2017 13:35

      order_approved_at order_delivered_carrier_date  \
42000   12/12/2017 3:35             12/12/2017 17:15
42001   12/12/2017 4:09             12/26/2017 17:17
42002   12/10/2017 9:56             12/11/2017 22:57
42003  12/11/2017 11:36             12/12/2017 21:11
42004  12/10/2017 10:10              12/12/2017 0:41
...                 ...                          ...
42995   12/16/2017 2:51             12/18/2017 21:59
42996   12/15/2017 2:17             12/15/2017 23:11
42997  12/14/2017 13:38             12/15/2017 22:48
42998  12/16/2017 13:32             12/19/2017 21:22
42999   12/15/2017 2:17             12/16/2017 17:22

      order_delivered_customer_date order_estimated_delivery_date
42000              12/15/2017 19:56               12/29/2017 0:00
42001              12/29/2017 15:57                1/17/2018 0:00
42002                1/5/2018 20:03                1/15/2018 0:00
42003              12/21/2017 20:33                1/15/2018 0:00
42004              12/16/2017 17:08               12/28/2017 0:00
...                             ...                           ...
42995              12/21/2017 22:18                 1/9/2018 0:00
42996              12/18/2017 20:43                 1/3/2018 0:00
42997              12/23/2017 20:48                1/16/2018 0:00
42998                1/5/2018 21:59                1/17/2018 0:00
42999              12/21/2017 16:42                 1/3/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
43000     43001        43001    delivered         12/14/2017 13:46
43001     43002        43002    delivered         12/14/2017 14:02
43002     43003        43003    delivered         12/14/2017 14:04
43003     43004        43004    delivered         12/14/2017 14:07
43004     43005        43005    delivered         12/14/2017 14:11
...         ...          ...          ...                      ...
43995     43996        43996    delivered         12/20/2017 10:08
43996     43997        43997    delivered         12/20/2017 10:08
43997     43998        43998    delivered         12/20/2017 10:19
43998     43999        43999    delivered         12/20/2017 10:22
43999     44000        44000    delivered         12/20/2017 10:24

      order_approved_at order_delivered_carrier_date  \
43000  12/14/2017 13:55             12/15/2017 19:53
43001  12/14/2017 14:13             12/15/2017 18:32
43002  12/14/2017 14:13             12/19/2017 23:27
43003  12/14/2017 14:31              12/21/2017 0:16
43004  12/14/2017 14:33             12/15/2017 17:34
...                 ...                          ...
43995  12/20/2017 10:32             12/20/2017 22:21
43996  12/20/2017 10:17             12/20/2017 17:57
43997  12/20/2017 10:33             12/26/2017 18:56
43998   12/22/2017 2:38             12/26/2017 20:18
43999  12/20/2017 10:51             12/20/2017 19:10

      order_delivered_customer_date order_estimated_delivery_date
43000                1/7/2018 18:59                1/22/2018 0:00
43001              12/26/2017 20:57                1/19/2018 0:00
43002              12/28/2017 17:14                1/10/2018 0:00
43003              12/27/2017 16:59                1/10/2018 0:00
43004                1/8/2018 12:36                1/16/2018 0:00
...                             ...                           ...
43995              12/27/2017 14:56                1/19/2018 0:00
43996              12/21/2017 22:38                 1/9/2018 0:00
43997              12/29/2017 17:42                1/17/2018 0:00
43998               1/10/2018 21:08                1/19/2018 0:00
43999               1/16/2018 20:47                1/16/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
44000     44001        44001    delivered         12/20/2017 10:36
44001     44002        44002   processing         12/20/2017 11:00
44002     44003        44003    delivered         12/20/2017 11:07
44003     44004        44004    delivered         12/20/2017 11:12
44004     44005        44005    delivered         12/20/2017 11:14
...         ...          ...          ...                      ...
44995     44996        44996    delivered          12/28/2017 9:04
44996     44997        44997    delivered          12/28/2017 9:20
44997     44998        44998    delivered          12/28/2017 9:35
44998     44999        44999    delivered          12/28/2017 9:47
44999     45000        45000    delivered         12/28/2017 10:11

      order_approved_at order_delivered_carrier_date  \
44000  12/20/2017 10:51             12/20/2017 18:44
44001  12/20/2017 11:10                          NaN
44002   12/21/2017 2:11             12/21/2017 20:50
44003   12/21/2017 2:12             12/21/2017 21:58
44004  12/20/2017 11:31             12/20/2017 21:18
...                 ...                          ...
44995   12/29/2017 2:09               1/2/2018 19:42
44996   12/29/2017 9:14               1/2/2018 16:43
44997   12/29/2017 2:09             12/29/2017 17:57
44998   12/28/2017 9:55               1/3/2018 20:35
44999  12/28/2017 10:19             12/29/2017 19:32

      order_delivered_customer_date order_estimated_delivery_date
44000                1/3/2018 18:42                1/18/2018 0:00
44001                           NaN                 2/2/2018 0:00
44002                1/3/2018 21:56                1/22/2018 0:00
44003               1/13/2018 14:29                 2/2/2018 0:00
44004              12/21/2017 18:28                 1/9/2018 0:00
...                             ...                           ...
44995               1/15/2018 18:12                1/23/2018 0:00
44996                1/6/2018 15:54                1/17/2018 0:00
44997                1/8/2018 21:42                1/31/2018 0:00
44998               2/12/2018 10:35                1/29/2018 0:00
44999               1/18/2018 16:51                1/17/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
45000     45001        45001    delivered         12/28/2017 10:21
45001     45002        45002    delivered         12/28/2017 10:31
45002     45003        45003    delivered         12/28/2017 10:40
45003     45004        45004    delivered         12/28/2017 10:42
45004     45005        45005    delivered         12/28/2017 10:45
...         ...          ...          ...                      ...
45995     45996        45996    delivered           1/4/2018 11:27
45996     45997        45997  unavailable           1/4/2018 11:30
45997     45998        45998    delivered           1/4/2018 11:31
45998     45999        45999    delivered           1/4/2018 11:32
45999     46000        46000  unavailable           1/4/2018 11:33

      order_approved_at order_delivered_carrier_date  \
45000  12/28/2017 10:31               1/2/2018 15:53
45001  12/28/2017 10:46               1/2/2018 19:34
45002  12/28/2017 10:49               1/2/2018 23:19
45003   12/29/2017 2:09               1/4/2018 21:53
45004  12/28/2017 10:54             12/28/2017 22:04
...                 ...                          ...
45995    1/6/2018 10:07               1/8/2018 19:56
45996    1/4/2018 11:39                          NaN
45997     1/5/2018 2:36               1/5/2018 15:42
45998     1/5/2018 2:36              1/10/2018 18:09
45999    1/4/2018 11:48                          NaN

      order_delivered_customer_date order_estimated_delivery_date
45000               1/10/2018 20:54                1/26/2018 0:00
45001                1/9/2018 22:54                1/24/2018 0:00
45002                1/9/2018 20:42                 2/1/2018 0:00
45003               1/10/2018 18:19                1/23/2018 0:00
45004                1/8/2018 17:00                1/29/2018 0:00
...                             ...                           ...
45995               1/15/2018 17:41                1/29/2018 0:00
45996                           NaN                 2/2/2018 0:00
45997                1/8/2018 19:08                1/22/2018 0:00
45998               1/24/2018 23:58                 2/1/2018 0:00
45999                           NaN                 2/1/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
46000     46001        46001    delivered           1/4/2018 11:41
46001     46002        46002  unavailable           1/4/2018 11:42
46002     46003        46003    delivered           1/4/2018 11:43
46003     46004        46004    delivered           1/4/2018 11:47
46004     46005        46005    delivered           1/4/2018 11:55
...         ...          ...          ...                      ...
46995     46996        46996    delivered           1/8/2018 18:03
46996     46997        46997    delivered           1/8/2018 18:09
46997     46998        46998    delivered           1/8/2018 18:19
46998     46999        46999    delivered           1/8/2018 18:20
46999     47000        47000    delivered           1/8/2018 18:24

      order_approved_at order_delivered_carrier_date  \
46000    1/4/2018 11:49               1/8/2018 18:29
46001    1/4/2018 15:27                          NaN
46002    1/4/2018 11:52               1/8/2018 19:50
46003    1/4/2018 11:55               1/5/2018 13:52
46004    1/4/2018 12:09              1/10/2018 16:09
...                 ...                          ...
46995   1/11/2018 11:28              1/15/2018 17:33
46996    1/8/2018 18:31               1/9/2018 19:44
46997   1/10/2018 10:32              1/10/2018 22:26
46998     1/9/2018 7:24               1/9/2018 21:15
46999    1/8/2018 18:36              1/10/2018 18:06

      order_delivered_customer_date order_estimated_delivery_date
46000               1/26/2018 23:25                 2/7/2018 0:00
46001                           NaN                1/22/2018 0:00
46002               1/12/2018 20:03                1/31/2018 0:00
46003                2/10/2018 1:32                 2/7/2018 0:00
46004               1/19/2018 15:38                 2/5/2018 0:00

       order_id  customer_id order_status order_purchase_timestamp  \
54000     54001        54001    delivered           2/6/2018 18:23
54001     54002        54002    delivered           2/6/2018 18:25
54002     54003        54003    delivered           2/6/2018 18:30
54003     54004        54004    delivered           2/6/2018 18:32
54004     54005        54005    delivered           2/6/2018 18:44
...         ...          ...          ...                      ...
54995     54996        54996    delivered          2/11/2018 12:04
54996     54997        54997    delivered          2/11/2018 12:21
54997     54998        54998    delivered          2/11/2018 12:27
54998     54999        54999    delivered          2/11/2018 12:28
54999     55000        55000    delivered          2/11/2018 12:28

      order_approved_at order_delivered_carrier_date  \
54000    2/6/2018 18:54               2/7/2018 16:42
54001     2/7/2018 2:35               2/7/2018 22:15
54002    2/6/2018 18:55               2/9/2018 23:09
54003    2/6/2018 18:55               2/9/2018 17:38
54004    2/6/2018 19:31               2/7/2018 21:28
...                 ...                          ...
54995   2/11/2018 12:15              2/16/2018 23:08
54996   2/11/2018 12:30              2/15/2018 19:56
54997   2/12/2018 12:28              2/14/2018 14:55
54998    2/15/2018 4:07               2/16/2018 0:16
54999    2/15/2018 4:07               2/16/2018 0:34

      order_delivered_customer_date order_estimated_delivery_date
54000                3/5/2018 11:08                3/12/2018 0:00
54001               2/14/2018 19:07                 3/8/2018 0:00
54002               3/10/2018 18:21                 3/1/2018 0:00
54003                3/5/2018 20:09                3/14/2018 0:00
54004                2/9/2018 17:56                 3/2/2018 0:00
...                             ...                           ...
54995                3/5/2018 19:45                3/27/2018 0:00
54996               2/19/2018 21:43                3/16/2018 0:00
54997                2/22/2018 1:23                3/12/2018 0:00
54998               2/26/2018 21:45                3/15/2018 0:00
54999               2/26/2018 22:08                3/14/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
55000     55001        55001    delivered          2/11/2018 12:43
55001     55002        55002    delivered          2/11/2018 12:49
55002     55003        55003    delivered          2/11/2018 12:51
55003     55004        55004    delivered          2/11/2018 13:08
55004     55005        55005    delivered          2/11/2018 13:10
...         ...          ...          ...                      ...
55995     55996        55996    delivered          2/15/2018 15:17
55996     55997        55997    delivered          2/15/2018 15:18
55997     55998        55998    delivered          2/15/2018 15:20
55998     55999        55999    delivered          2/15/2018 15:24
55999     56000        56000     canceled          2/15/2018 15:28

      order_approved_at order_delivered_carrier_date  \
55000    2/15/2018 3:47              2/20/2018 18:34
55001    2/15/2018 3:51              2/15/2018 21:09
55002   2/11/2018 13:08              2/14/2018 11:42
55003   2/11/2018 13:28              2/14/2018 19:36
55004   2/11/2018 14:07              2/14/2018 22:48
...                 ...                          ...
55995   2/15/2018 15:27               2/17/2018 1:12
55996   2/16/2018 17:35              2/19/2018 23:23
55997   2/15/2018 15:30              2/19/2018 17:52
55998   2/15/2018 15:35               2/17/2018 0:08
55999   2/15/2018 15:46              2/21/2018 19:59

      order_delivered_customer_date order_estimated_delivery_date
55000               3/16/2018 19:11                3/15/2018 0:00
55001               2/23/2018 19:29                3/13/2018 0:00
55002               2/28/2018 23:17                 3/9/2018 0:00
55003                2/17/2018 2:06                2/26/2018 0:00
55004                2/28/2018 0:38                 3/6/2018 0:00
...                             ...                           ...
55995               2/21/2018 20:33                3/12/2018 0:00
55996               3/20/2018 17:38                3/26/2018 0:00
55997               2/20/2018 19:35                 3/1/2018 0:00
55998                3/2/2018 23:43                 3/7/2018 0:00
55999                           NaN                 3/7/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
56000     56001        56001    delivered          2/15/2018 15:33
56001     56002        56002    delivered          2/15/2018 15:34
56002     56003        56003    delivered          2/15/2018 15:37
56003     56004        56004    delivered          2/15/2018 15:37
56004     56005        56005    delivered          2/15/2018 15:44
...         ...          ...          ...                      ...
56995     56996        56996    delivered          2/19/2018 22:04
56996     56997        56997    delivered          2/19/2018 22:05
56997     56998        56998    delivered          2/19/2018 22:08
56998     56999        56999    delivered          2/19/2018 22:08
56999     57000        57000    delivered          2/19/2018 22:14

      order_approved_at order_delivered_carrier_date  \
56000   2/15/2018 15:46              2/19/2018 17:25
56001   2/15/2018 15:46              2/21/2018 23:37
56002    2/16/2018 7:55               2/17/2018 0:59
56003    2/17/2018 3:47              2/19/2018 23:16
56004   2/15/2018 15:55               2/17/2018 0:11
...                 ...                          ...
56995   2/19/2018 23:07               2/21/2018 1:09
56996   2/19/2018 23:07              2/26/2018 16:45
56997   2/19/2018 23:07              2/23/2018 22:25
56998   2/19/2018 23:15              2/20/2018 19:13
56999    2/21/2018 6:10              2/21/2018 22:25

      order_delivered_customer_date order_estimated_delivery_date
56000                3/5/2018 22:51                 3/7/2018 0:00
56001               3/29/2018 20:51                3/14/2018 0:00
56002               2/20/2018 19:12                 3/9/2018 0:00
56003               2/21/2018 17:07                 3/1/2018 0:00
56004               2/22/2018 20:23                 3/8/2018 0:00
...                             ...                           ...
56995               3/29/2018 15:08                3/20/2018 0:00
56996               3/22/2018 17:18                3/15/2018 0:00
56997                3/2/2018 12:48                3/13/2018 0:00
56998               2/27/2018 21:46                3/12/2018 0:00
56999               2/22/2018 22:43                 3/5/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
57000     57001        57001    delivered          2/19/2018 22:16
57001     57002        57002    delivered          2/19/2018 22:26
57002     57003        57003    delivered          2/19/2018 22:30
57003     57004        57004    delivered          2/19/2018 22:31
57004     57005        57005    delivered          2/19/2018 22:35
...         ...          ...          ...                      ...
57995     57996        57996    delivered          2/23/2018 14:59
57996     57997        57997    delivered          2/23/2018 15:00
57997     57998        57998    delivered          2/23/2018 15:06
57998     57999        57999    delivered          2/23/2018 15:11
57999     58000        58000    delivered          2/23/2018 15:17

      order_approved_at order_delivered_carrier_date  \
57000    2/20/2018 7:30              2/28/2018 20:47
57001   2/19/2018 23:30              2/22/2018 21:42
57002   2/19/2018 23:30              2/21/2018 21:04
57003   2/19/2018 23:35              2/20/2018 22:58
57004   2/20/2018 22:30              2/22/2018 19:13
...                 ...                          ...
57995   2/23/2018 15:46              2/28/2018 19:04
57996    2/24/2018 2:35              2/26/2018 19:55
57997    2/24/2018 2:48              2/27/2018 23:12
57998   2/23/2018 15:31              2/26/2018 22:39
57999   2/23/2018 15:31              2/26/2018 18:52

      order_delivered_customer_date order_estimated_delivery_date
57000               3/12/2018 15:51                3/16/2018 0:00
57001               2/23/2018 15:53                 3/5/2018 0:00
57002               2/22/2018 21:22                 3/5/2018 0:00
57003               3/14/2018 22:56                3/22/2018 0:00
57004                3/1/2018 21:48                3/12/2018 0:00
...                             ...                           ...
57995                3/1/2018 20:37                 3/9/2018 0:00
57996               2/27/2018 20:04                 3/9/2018 0:00
57997                3/1/2018 16:59                3/15/2018 0:00
57998               3/19/2018 19:58                3/15/2018 0:00
57999                4/3/2018 21:22                3/15/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
58000     58001        58001    delivered          2/23/2018 15:18
58001     58002        58002    delivered          2/23/2018 15:19
58002     58003        58003    delivered          2/23/2018 15:19
58003     58004        58004    delivered          2/23/2018 15:20
58004     58005        58005    delivered          2/23/2018 15:21
...         ...          ...          ...                      ...
58995     58996        58996    delivered          2/27/2018 16:44
58996     58997        58997    delivered          2/27/2018 16:46
58997     58998        58998    delivered          2/27/2018 16:54
58998     58999        58999    delivered          2/27/2018 17:09
58999     59000        59000    delivered          2/27/2018 17:19

      order_approved_at order_delivered_carrier_date  \
58000   2/23/2018 15:32               2/27/2018 2:09
58001   2/23/2018 15:35              2/26/2018 22:25
58002   2/23/2018 15:35              2/26/2018 23:38
58003    2/27/2018 4:31              3/14/2018 16:06
58004   2/23/2018 15:35               2/27/2018 0:27
...                 ...                          ...
58995   2/27/2018 16:56              3/12/2018 18:40
58996   2/27/2018 17:10               3/1/2018 22:48
58997   2/27/2018 17:40               3/6/2018 11:18
58998   2/27/2018 17:28                3/1/2018 1:23
58999     3/1/2018 2:48               3/1/2018 23:55

      order_delivered_customer_date order_estimated_delivery_date
58000               3/26/2018 18:58                3/29/2018 0:00
58001               3/22/2018 22:18                3/23/2018 0:00
58002               2/28/2018 15:38                3/15/2018 0:00
58003               3/23/2018 23:51                3/19/2018 0:00
58004                3/2/2018 18:54                3/15/2018 0:00
...                             ...                           ...
58995               4/10/2018 13:53                3/22/2018 0:00
58996               4/17/2018 16:51                3/23/2018 0:00
58997               3/24/2018 21:04                3/22/2018 0:00
58998                3/16/2018 1:06                3/26/2018 0:00
58999               3/13/2018 18:17                3/28/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
59000     59001        59001    delivered          2/27/2018 17:19
59001     59002        59002    delivered          2/27/2018 17:28
59002     59003        59003    delivered          2/27/2018 17:29
59003     59004        59004    delivered          2/27/2018 17:32
59004     59005        59005    delivered          2/27/2018 17:39
...         ...          ...          ...                      ...
59995     59996        59996    delivered            3/3/2018 9:19
59996     59997        59997  unavailable            3/3/2018 9:32
59997     59998        59998    delivered            3/3/2018 9:33
59998     59999        59999    delivered            3/3/2018 9:39
59999     60000        60000     canceled            3/3/2018 9:44

      order_approved_at order_delivered_carrier_date  \
59000   2/27/2018 17:30                3/6/2018 0:27
59001   2/28/2018 10:15              2/28/2018 19:32
59002   2/27/2018 17:48              2/28/2018 17:15
59003   2/28/2018 10:29              2/28/2018 22:09
59004   2/27/2018 18:09               3/2/2018 17:56
...                 ...                          ...
59995     3/3/2018 9:30               3/6/2018 16:05
59996     3/3/2018 9:48                          NaN
59997     3/4/2018 9:30               3/5/2018 19:58
59998     3/3/2018 9:50               3/5/2018 19:04
59999    3/3/2018 10:20               3/5/2018 19:19

      order_delivered_customer_date order_estimated_delivery_date
59000                3/9/2018 22:26                3/19/2018 0:00
59001               4/11/2018 15:48                3/19/2018 0:00
59002                3/17/2018 0:06                3/19/2018 0:00
59003               3/19/2018 20:52                3/23/2018 0:00
59004               3/28/2018 17:17                3/22/2018 0:00
...                             ...                           ...
59995               3/14/2018 19:41                3/21/2018 0:00
59996                           NaN                3/28/2018 0:00
59997               3/12/2018 14:46                3/26/2018 0:00
59998               3/15/2018 16:08                3/26/2018 0:00
59999                           NaN                3/15/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
60000     60001        60001    delivered            3/3/2018 9:57
60001     60002        60002    delivered            3/3/2018 9:57
60002     60003        60003    delivered            3/3/2018 9:59
60003     60004        60004    delivered           3/3/2018 10:00
60004     60005        60005    delivered           3/3/2018 10:01
...         ...          ...          ...                      ...
60995     60996        60996    delivered           3/7/2018 10:33
60996     60997        60997    delivered           3/7/2018 10:35
60997     60998        60998    delivered           3/7/2018 10:35
60998     60999        60999    delivered           3/7/2018 10:42
60999     61000        61000      shipped           3/7/2018 10:43

      order_approved_at order_delivered_carrier_date  \
60000    3/5/2018 14:20               3/9/2018 22:24
60001    3/3/2018 11:00               3/5/2018 21:59
60002     3/6/2018 3:49               3/7/2018 13:16
60003    3/3/2018 10:10               3/5/2018 21:04
60004    3/3/2018 10:15                3/6/2018 4:47
...                 ...                          ...
60995    3/7/2018 11:29               3/7/2018 22:12
60996    3/7/2018 10:49               3/8/2018 20:46
60997     3/8/2018 2:15               3/8/2018 22:02
60998    3/7/2018 10:55               3/8/2018 16:02
60999    3/7/2018 10:55              3/12/2018 18:20

      order_delivered_customer_date order_estimated_delivery_date
60000               3/21/2018 23:26                 4/6/2018 0:00
60001               3/26/2018 17:36                 4/2/2018 0:00
60002                3/21/2018 0:09                3/28/2018 0:00
60003               4/10/2018 14:47                3/26/2018 0:00
60004               3/27/2018 21:14                3/26/2018 0:00
...                             ...                           ...
60995               3/27/2018 17:58                3/27/2018 0:00
60996                3/14/2018 2:43                3/23/2018 0:00
60997                3/23/2018 2:25                3/23/2018 0:00
60998                3/20/2018 0:32                3/23/2018 0:00
60999                           NaN                 4/9/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
61000     61001        61001    delivered           3/7/2018 10:45
61001     61002        61002    delivered           3/7/2018 10:45
61002     61003        61003    delivered           3/7/2018 10:56
61003     61004        61004    delivered           3/7/2018 10:57
61004     61005        61005    delivered           3/7/2018 11:00
...         ...          ...          ...                      ...
61995     61996        61996    delivered          3/11/2018 20:08
61996     61997        61997    delivered          3/11/2018 20:18
61997     61998        61998    delivered          3/11/2018 20:19
61998     61999        61999    delivered          3/11/2018 20:22
61999     62000        62000    delivered          3/11/2018 20:24

      order_approved_at order_delivered_carrier_date  \
61000    3/7/2018 11:10               3/9/2018 22:46
61001    3/7/2018 10:55                3/9/2018 0:16
61002    3/7/2018 11:15               3/8/2018 19:58
61003     3/8/2018 2:35              3/12/2018 13:58
61004    3/7/2018 11:15               3/7/2018 22:53
...                 ...                          ...
61995   3/11/2018 20:48               3/14/2018 1:09
61996    3/13/2018 4:08              3/13/2018 19:56
61997   3/11/2018 20:30              3/13/2018 19:28
61998   3/11/2018 21:20              3/14/2018 22:04
61999   3/11/2018 20:35              3/16/2018 17:26

      order_delivered_customer_date order_estimated_delivery_date
61000                4/5/2018 21:48                3/26/2018 0:00
61001               3/14/2018 17:18                3/23/2018 0:00
61002               3/26/2018 15:47                3/28/2018 0:00
61003                4/3/2018 20:24                3/26/2018 0:00
61004               4/30/2018 20:28                4/12/2018 0:00
...                             ...                           ...
61995               3/17/2018 10:45                3/28/2018 0:00
61996               4/23/2018 20:56                 4/6/2018 0:00
61997               3/19/2018 20:34                3/28/2018 0:00
61998               3/27/2018 13:08                 4/5/2018 0:00
61999               3/28/2018 19:32                 4/4/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
62000     62001        62001    delivered          3/11/2018 20:25
62001     62002        62002    delivered          3/11/2018 20:26
62002     62003        62003    delivered          3/11/2018 20:28
62003     62004        62004    delivered          3/11/2018 20:30
62004     62005        62005    delivered          3/11/2018 20:31
...         ...          ...          ...                      ...
62995     62996        62996    delivered          3/15/2018 22:50
62996     62997        62997    delivered          3/15/2018 22:51
62997     62998        62998    delivered          3/15/2018 22:54
62998     62999        62999    delivered          3/15/2018 22:54
62999     63000        63000    delivered          3/15/2018 22:56

      order_approved_at order_delivered_carrier_date  \
62000    3/14/2018 7:08              3/14/2018 21:18
62001   3/11/2018 20:35              3/12/2018 23:48
62002   3/11/2018 20:48              3/12/2018 17:54
62003   3/11/2018 21:28              3/15/2018 18:37
62004    3/12/2018 8:35              3/12/2018 17:18
...                 ...                          ...
62995    3/17/2018 2:40              3/19/2018 23:34
62996   3/15/2018 23:11              3/16/2018 18:24
62997   3/15/2018 23:11              3/21/2018 14:12
62998   3/15/2018 23:11              3/16/2018 16:48
62999   3/15/2018 23:11              3/16/2018 20:02

      order_delivered_customer_date order_estimated_delivery_date
62000                4/4/2018 20:19                3/28/2018 0:00
62001               3/26/2018 14:22                 4/9/2018 0:00
62002               4/11/2018 21:22                3/28/2018 0:00
62003               3/26/2018 15:16                 4/6/2018 0:00
62004               3/14/2018 19:24                3/28/2018 0:00

       order_id  customer_id order_status order_purchase_timestamp  \
69000     69001        69001    delivered          4/11/2018 13:12
69001     69002        69002    delivered          4/11/2018 13:20
69002     69003        69003    delivered          4/11/2018 13:22
69003     69004        69004    delivered          4/11/2018 13:27
69004     69005        69005    delivered          4/11/2018 13:29
...         ...          ...          ...                      ...
69995     69996        69996    delivered           4/16/2018 0:26
69996     69997        69997    delivered           4/16/2018 0:50
69997     69998        69998    delivered           4/16/2018 1:06
69998     69999        69999    delivered           4/16/2018 1:22
69999     70000        70000    delivered           4/16/2018 1:48

      order_approved_at order_delivered_carrier_date  \
69000   4/11/2018 19:55              4/12/2018 20:12
69001   4/11/2018 13:35              4/12/2018 22:38
69002   4/11/2018 19:55              4/12/2018 18:28
69003   4/11/2018 13:50              4/17/2018 13:08
69004   4/11/2018 13:50              4/12/2018 14:47
...                 ...                          ...
69995    4/18/2018 2:31              4/19/2018 16:03
69996    4/17/2018 0:50              4/17/2018 22:21
69997    4/17/2018 5:51               4/19/2018 0:21
69998    4/16/2018 1:32               4/21/2018 0:36
69999    4/16/2018 2:12              4/17/2018 15:38

      order_delivered_customer_date order_estimated_delivery_date
69000               4/18/2018 18:16                 5/7/2018 0:00
69001               4/16/2018 19:51                 5/4/2018 0:00
69002               4/17/2018 16:28                 5/4/2018 0:00
69003               4/30/2018 15:51                5/25/2018 0:00
69004               4/23/2018 18:48                 5/4/2018 0:00
...                             ...                           ...
69995               4/26/2018 15:46                5/14/2018 0:00
69996               4/18/2018 22:31                 5/3/2018 0:00
69997               4/19/2018 16:11                 5/3/2018 0:00
69998                5/4/2018 23:08                5/14/2018 0:00
69999               4/23/2018 22:46                 5/7/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
70000     70001        70001    delivered           4/16/2018 2:05
70001     70002        70002    delivered           4/16/2018 2:06
70002     70003        70003    delivered           4/16/2018 7:17
70003     70004        70004    delivered           4/16/2018 7:25
70004     70005        70005    delivered           4/16/2018 8:14
...         ...          ...          ...                      ...
70995     70996        70996    delivered          4/19/2018 16:22
70996     70997        70997    delivered          4/19/2018 16:23
70997     70998        70998    delivered          4/19/2018 16:28
70998     70999        70999    delivered          4/19/2018 16:29
70999     71000        71000    delivered          4/19/2018 16:33

      order_approved_at order_delivered_carrier_date  \
70000    4/16/2018 2:15              4/17/2018 18:41
70001    4/16/2018 2:29              4/18/2018 19:05
70002    4/16/2018 8:00              4/17/2018 19:51
70003    4/17/2018 5:55              4/17/2018 19:19
70004    4/17/2018 5:50              4/17/2018 23:03
...                 ...                          ...
70995   4/19/2018 16:35               4/20/2018 0:48
70996   4/19/2018 16:35              4/20/2018 22:25
70997   4/19/2018 16:58              4/20/2018 18:36
70998   4/19/2018 16:58              4/23/2018 14:52
70999   4/19/2018 17:07              4/20/2018 21:04

      order_delivered_customer_date order_estimated_delivery_date
70000               4/23/2018 17:51                 5/3/2018 0:00
70001               4/26/2018 18:52                5/24/2018 0:00
70002               7/11/2018 15:06                4/27/2018 0:00
70003               4/27/2018 18:32                 5/3/2018 0:00
70004               4/23/2018 23:09                 5/9/2018 0:00
...                             ...                           ...
70995                5/2/2018 23:41                5/17/2018 0:00
70996                5/7/2018 23:26                5/15/2018 0:00
70997                4/26/2018 0:59                5/14/2018 0:00
70998                5/7/2018 20:07                5/25/2018 0:00
70999               4/27/2018 20:02                5/17/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
71000     71001        71001    delivered          4/19/2018 16:36
71001     71002        71002    delivered          4/19/2018 16:39
71002     71003        71003    delivered          4/19/2018 16:42
71003     71004        71004    delivered          4/19/2018 16:47
71004     71005        71005    delivered          4/19/2018 16:53
...         ...          ...          ...                      ...
71995     71996        71996    delivered          4/24/2018 10:27
71996     71997        71997    delivered          4/24/2018 10:29
71997     71998        71998    delivered          4/24/2018 10:37
71998     71999        71999    delivered          4/24/2018 10:40
71999     72000        72000    delivered          4/24/2018 10:44

      order_approved_at order_delivered_carrier_date  \
71000   4/19/2018 16:58              4/20/2018 17:32
71001   4/19/2018 16:58              4/20/2018 21:46
71002   4/19/2018 17:07              4/23/2018 21:33
71003   4/19/2018 17:07              4/20/2018 19:34
71004   4/19/2018 17:07              4/20/2018 22:08
...                 ...                          ...
71995   4/24/2018 18:27              4/25/2018 14:42
71996    4/25/2018 4:11               4/26/2018 7:49
71997   4/24/2018 18:33              4/25/2018 15:40
71998   4/24/2018 18:34              4/25/2018 15:24
71999   4/24/2018 18:34              4/24/2018 22:07

      order_delivered_customer_date order_estimated_delivery_date
71000               4/23/2018 22:47                 5/4/2018 0:00
71001               4/23/2018 18:54                 5/8/2018 0:00
71002                5/7/2018 20:19                5/24/2018 0:00
71003               4/27/2018 19:22                5/14/2018 0:00
71004               4/26/2018 20:12                 5/7/2018 0:00
...                             ...                           ...
71995               4/30/2018 18:02                5/21/2018 0:00
71996                5/4/2018 22:19                5/17/2018 0:00
71997               4/26/2018 18:38                 5/7/2018 0:00
71998                5/4/2018 12:04                5/22/2018 0:00
71999                5/2/2018 15:03                5/21/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
72000     72001        72001    delivered          4/24/2018 10:44
72001     72002        72002    delivered          4/24/2018 10:46
72002     72003        72003    delivered          4/24/2018 10:47
72003     72004        72004    delivered          4/24/2018 10:54
72004     72005        72005    delivered          4/24/2018 10:55
...         ...          ...          ...                      ...
72995     72996        72996    delivered          4/27/2018 23:54
72996     72997        72997    delivered          4/27/2018 23:54
72997     72998        72998    delivered           4/28/2018 0:21
72998     72999        72999    delivered           4/28/2018 0:37
72999     73000        73000    delivered           4/28/2018 1:01

      order_approved_at order_delivered_carrier_date  \
72000   4/24/2018 18:34              4/26/2018 13:25
72001    4/25/2018 4:11              4/25/2018 15:09
72002   4/24/2018 18:37              4/24/2018 22:54
72003   4/24/2018 18:47               5/7/2018 15:51
72004   4/24/2018 18:47              4/24/2018 20:16
...                 ...                          ...
72995    4/28/2018 0:10              4/30/2018 12:19
72996    4/28/2018 0:10               4/28/2018 9:35
72997    4/28/2018 0:32               4/30/2018 7:37
72998    4/28/2018 0:52               5/3/2018 14:19
72999     5/1/2018 6:13               5/2/2018 11:06

      order_delivered_customer_date order_estimated_delivery_date
72000                5/8/2018 10:26                5/29/2018 0:00
72001               4/26/2018 19:14                5/10/2018 0:00
72002                5/2/2018 23:03                5/22/2018 0:00
72003                5/9/2018 18:33                5/17/2018 0:00
72004               4/27/2018 21:53                5/17/2018 0:00
...                             ...                           ...
72995                5/2/2018 17:32                5/14/2018 0:00
72996                5/7/2018 20:49                5/11/2018 0:00
72997                5/4/2018 18:42                5/21/2018 0:00
72998               6/11/2018 17:51                5/18/2018 0:00
72999               5/24/2018 11:48                5/23/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
73000     73001        73001    delivered           4/28/2018 1:48
73001     73002        73002    delivered           4/28/2018 2:23
73002     73003        73003    delivered           4/28/2018 5:58
73003     73004        73004    delivered           4/28/2018 6:15
73004     73005        73005    delivered           4/28/2018 7:45
...         ...          ...          ...                      ...
73995     73996        73996    delivered           5/2/2018 17:04
73996     73997        73997    delivered           5/2/2018 17:05
73997     73998        73998    delivered           5/2/2018 17:24
73998     73999        73999    delivered           5/2/2018 17:28
73999     74000        74000    delivered           5/2/2018 17:34

      order_approved_at order_delivered_carrier_date  \
73000    4/28/2018 2:11              4/30/2018 15:24
73001     5/1/2018 5:32               5/4/2018 11:35
73002    4/28/2018 6:13               5/4/2018 11:58
73003    4/28/2018 7:00               5/3/2018 13:43
73004    4/28/2018 7:55              4/30/2018 12:38
...                 ...                          ...
73995    5/3/2018 17:09               5/4/2018 14:21
73996    5/2/2018 17:54               5/3/2018 15:16
73997    5/2/2018 18:18               5/15/2018 7:43
73998     5/4/2018 2:51               5/4/2018 15:46
73999    5/2/2018 18:18               5/8/2018 15:03

      order_delivered_customer_date order_estimated_delivery_date
73000                5/9/2018 15:09                5/23/2018 0:00
73001                 5/8/2018 0:18                5/17/2018 0:00
73002                5/8/2018 17:43                5/17/2018 0:00
73003                5/8/2018 18:52                 6/4/2018 0:00
73004               5/14/2018 17:54                5/25/2018 0:00
...                             ...                           ...
73995               5/22/2018 20:22                 6/4/2018 0:00
73996               5/12/2018 13:18                5/21/2018 0:00
73997               5/23/2018 15:50                 6/7/2018 0:00
73998               5/14/2018 13:53                 6/5/2018 0:00
73999               5/14/2018 20:42                5/29/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
74000     74001        74001    delivered           5/2/2018 17:42
74001     74002        74002    delivered           5/2/2018 17:42
74002     74003        74003    delivered           5/2/2018 17:46
74003     74004        74004    delivered           5/2/2018 17:51
74004     74005        74005    delivered           5/2/2018 17:58
...         ...          ...          ...                      ...
74995     74996        74996    delivered           5/6/2018 15:38
74996     74997        74997    delivered           5/6/2018 15:43
74997     74998        74998    delivered           5/6/2018 15:46
74998     74999        74999    delivered           5/6/2018 15:46
74999     75000        75000    delivered           5/6/2018 15:56

      order_approved_at order_delivered_carrier_date  \
74000    5/2/2018 18:32                5/7/2018 9:09
74001    5/2/2018 18:32               5/4/2018 15:19
74002    5/2/2018 18:32               5/4/2018 12:37
74003     5/3/2018 4:33               5/4/2018 13:19
74004    5/2/2018 18:33               5/3/2018 12:14
...                 ...                          ...
74995    5/6/2018 15:50              5/10/2018 12:27
74996    5/6/2018 15:55               5/7/2018 15:19
74997     5/8/2018 3:55              5/14/2018 14:59
74998    5/6/2018 16:13               5/7/2018 14:08
74999    5/6/2018 16:14               5/9/2018 11:02

      order_delivered_customer_date order_estimated_delivery_date
74000                5/9/2018 12:56                5/17/2018 0:00
74001                5/9/2018 18:42                5/25/2018 0:00
74002                5/8/2018 19:33                5/29/2018 0:00
74003               5/15/2018 23:38                5/29/2018 0:00
74004                5/7/2018 23:08                5/21/2018 0:00
...                             ...                           ...
74995               5/23/2018 11:25                6/12/2018 0:00
74996                5/8/2018 17:33                5/23/2018 0:00
74997                5/16/2018 0:19                5/22/2018 0:00
74998               5/14/2018 18:22                5/30/2018 0:00
74999               5/10/2018 20:03                5/18/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
75000     75001        75001    delivered           5/6/2018 16:02
75001     75002        75002    delivered           5/6/2018 16:03
75002     75003        75003    delivered           5/6/2018 16:07
75003     75004        75004    delivered           5/6/2018 16:24
75004     75005        75005    delivered           5/6/2018 16:26
...         ...          ...          ...                      ...
75995     75996        75996    delivered           5/9/2018 15:39
75996     75997        75997    delivered           5/9/2018 15:45
75997     75998        75998    delivered           5/9/2018 15:45
75998     75999        75999    delivered           5/9/2018 15:45
75999     76000        76000    delivered           5/9/2018 15:47

      order_approved_at order_delivered_carrier_date  \
75000    5/6/2018 16:30               5/7/2018 14:56
75001    5/6/2018 16:15               5/7/2018 15:25
75002     5/7/2018 8:33               5/7/2018 13:19
75003     5/7/2018 9:12               5/7/2018 14:37
75004     5/7/2018 9:14               5/10/2018 8:48
...                 ...                          ...
75995    5/10/2018 9:11              5/10/2018 15:53
75996    5/9/2018 16:16              5/29/2018 15:31
75997    5/10/2018 4:16              5/10/2018 13:35
75998    5/9/2018 18:54              5/10/2018 15:24
75999    5/9/2018 16:16              5/10/2018 11:48

      order_delivered_customer_date order_estimated_delivery_date
75000               5/10/2018 20:23                5/23/2018 0:00
75001                5/9/2018 18:12                5/18/2018 0:00
75002               5/18/2018 23:36                5/22/2018 0:00
75003               5/15/2018 18:33                6/12/2018 0:00
75004               5/16/2018 21:38                 6/5/2018 0:00
...                             ...                           ...
75995               5/16/2018 20:48                5/29/2018 0:00
75996               5/30/2018 18:48                6/11/2018 0:00
75997               5/14/2018 19:34                5/24/2018 0:00
75998               5/11/2018 21:28                5/21/2018 0:00
75999               5/12/2018 16:56                5/17/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
76000     76001        76001    delivered           5/9/2018 15:49
76001     76002        76002    delivered           5/9/2018 15:56
76002     76003        76003    delivered           5/9/2018 15:57
76003     76004        76004    delivered           5/9/2018 16:00
76004     76005        76005    delivered           5/9/2018 16:00
...         ...          ...          ...                      ...
76995     76996        76996    delivered          5/13/2018 18:33
76996     76997        76997    delivered          5/13/2018 18:33
76997     76998        76998    delivered          5/13/2018 18:34
76998     76999        76999    delivered          5/13/2018 18:41
76999     77000        77000    delivered          5/13/2018 18:45

      order_approved_at order_delivered_carrier_date  \
76000    5/11/2018 3:11              5/16/2018 15:29
76001    5/9/2018 16:16              5/11/2018 12:26
76002   5/10/2018 11:36              5/11/2018 14:53
76003    5/9/2018 16:17              5/10/2018 13:58
76004    5/9/2018 16:16               5/11/2018 9:23
...                 ...                          ...
76995   5/13/2018 18:53               5/15/2018 9:40
76996   5/13/2018 18:53              5/14/2018 13:34
76997    5/15/2018 3:55              5/21/2018 16:34
76998    5/15/2018 5:15              5/15/2018 13:15
76999   5/13/2018 19:12              5/14/2018 14:59

      order_delivered_customer_date order_estimated_delivery_date
76000               5/22/2018 17:40                 6/7/2018 0:00
76001               5/29/2018 17:27                6/11/2018 0:00
76002                6/9/2018 15:24                 6/8/2018 0:00
76003               5/23/2018 16:22                 6/1/2018 0:00
76004               5/15/2018 21:05                5/28/2018 0:00
...                             ...                           ...
76995                6/4/2018 21:03                6/13/2018 0:00
76996                 6/2/2018 1:03                 6/7/2018 0:00
76997                6/7/2018 20:42                 6/1/2018 0:00
76998               5/29/2018 18:12                 6/6/2018 0:00
76999               5/21/2018 19:03                6/13/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
77000     77001        77001    delivered          5/13/2018 18:46
77001     77002        77002    delivered          5/13/2018 18:47
77002     77003        77003    delivered          5/13/2018 18:52
77003     77004        77004    delivered          5/13/2018 18:53
77004     77005        77005    delivered          5/13/2018 18:59
...         ...          ...          ...                      ...
77995     77996        77996    delivered          5/16/2018 15:37
77996     77997        77997    delivered          5/16/2018 15:38
77997     77998        77998    delivered          5/16/2018 15:41
77998     77999        77999    delivered          5/16/2018 15:44
77999     78000        78000    delivered          5/16/2018 15:45

      order_approved_at order_delivered_carrier_date  \
77000   5/13/2018 19:12              5/14/2018 14:24
77001   5/14/2018 18:49              5/15/2018 13:38
77002   5/13/2018 19:12              5/16/2018 12:49
77003   5/13/2018 19:12              5/14/2018 13:44
77004    5/15/2018 4:12              5/15/2018 13:41
...                 ...                          ...
77995   5/16/2018 16:00              5/23/2018 14:42
77996    5/18/2018 4:54              5/18/2018 14:37
77997   5/16/2018 16:00              5/17/2018 13:49
77998   5/16/2018 16:14              5/17/2018 12:34
77999    5/18/2018 5:34              5/18/2018 15:26

      order_delivered_customer_date order_estimated_delivery_date
77000               5/17/2018 19:28                5/28/2018 0:00
77001               5/24/2018 12:41                 6/7/2018 0:00
77002               5/21/2018 22:51                 6/1/2018 0:00
77003               5/21/2018 19:38                 6/8/2018 0:00
77004               5/16/2018 18:53                5/25/2018 0:00

       order_id  customer_id order_status order_purchase_timestamp  \
88000     88001        88001    delivered           7/9/2018 10:36
88001     88002        88002    delivered           7/9/2018 10:50
88002     88003        88003    delivered           7/9/2018 10:56
88003     88004        88004    delivered           7/9/2018 11:12
88004     88005        88005    delivered           7/9/2018 11:20
...         ...          ...          ...                      ...
88995     88996        88996    delivered           7/16/2018 9:22
88996     88997        88997    delivered           7/16/2018 9:24
88997     88998        88998    delivered           7/16/2018 9:48
88998     88999        88999    delivered           7/16/2018 9:51
88999     89000        89000    delivered           7/16/2018 9:58

      order_approved_at order_delivered_carrier_date  \
88000    7/10/2018 9:05              7/11/2018 14:48
88001    7/9/2018 11:05              7/10/2018 14:34
88002    7/9/2018 11:05              7/10/2018 15:06
88003    7/9/2018 11:25              7/19/2018 13:32
88004    7/9/2018 11:30              7/10/2018 12:08
...                 ...                          ...
88995    7/17/2018 9:31              7/19/2018 13:45
88996    7/16/2018 9:44              7/16/2018 13:39
88997    7/17/2018 5:30              7/17/2018 14:20
88998   7/16/2018 10:04              7/17/2018 14:20
88999   7/16/2018 10:10              7/18/2018 11:01

      order_delivered_customer_date order_estimated_delivery_date
88000               7/20/2018 17:58                7/27/2018 0:00
88001               7/20/2018 18:44                7/27/2018 0:00
88002                7/12/2018 0:20                7/18/2018 0:00
88003               7/27/2018 20:08                7/30/2018 0:00
88004               7/24/2018 23:51                 8/2/2018 0:00
...                             ...                           ...
88995               7/27/2018 12:51                8/15/2018 0:00
88996               7/23/2018 14:41                 8/9/2018 0:00
88997               7/20/2018 20:56                 8/2/2018 0:00
88998               7/20/2018 20:06                 8/6/2018 0:00
88999               7/20/2018 22:11                7/30/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
89000     89001        89001    delivered           7/16/2018 9:58
89001     89002        89002     invoiced          7/16/2018 10:15
89002     89003        89003    delivered          7/16/2018 10:16
89003     89004        89004    delivered          7/16/2018 10:21
89004     89005        89005    delivered          7/16/2018 10:22
...         ...          ...          ...                      ...
89995     89996        89996    delivered          7/19/2018 23:11
89996     89997        89997    delivered          7/19/2018 23:13
89997     89998        89998    delivered          7/19/2018 23:20
89998     89999        89999    delivered          7/19/2018 23:29
89999     90000        90000    delivered          7/19/2018 23:54

      order_approved_at order_delivered_carrier_date  \
89000   7/16/2018 10:10              7/16/2018 12:29
89001    7/18/2018 5:30                          NaN
89002   7/17/2018 10:31               8/1/2018 15:38
89003   7/16/2018 10:30              7/17/2018 14:19
89004   7/16/2018 16:30              7/20/2018 14:43
...                 ...                          ...
89995    7/20/2018 9:15              7/23/2018 12:48
89996   7/20/2018 10:45               7/23/2018 6:39
89997   7/19/2018 23:30              7/20/2018 13:04
89998   7/19/2018 23:45              7/30/2018 15:14
89999    7/20/2018 0:10              7/20/2018 14:15

      order_delivered_customer_date order_estimated_delivery_date
89000               7/24/2018 21:22                8/16/2018 0:00
89001                           NaN                7/31/2018 0:00
89002                8/3/2018 18:06                 8/9/2018 0:00
89003               7/23/2018 19:16                 8/2/2018 0:00
89004               7/25/2018 19:18                 8/9/2018 0:00
...                             ...                           ...
89995                8/2/2018 19:51                8/14/2018 0:00
89996                8/9/2018 19:41                8/16/2018 0:00
89997               7/26/2018 22:46                 8/7/2018 0:00
89998                8/1/2018 20:03                 8/6/2018 0:00
89999                7/31/2018 0:28                 8/8/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
90000     90001        90001    delivered          7/19/2018 23:57
90001     90002        90002    delivered           7/20/2018 0:04
90002     90003        90003    delivered           7/20/2018 0:10
90003     90004        90004    delivered           7/20/2018 0:16
90004     90005        90005    delivered           7/20/2018 0:41
...         ...          ...          ...                      ...
90995     90996        90996    delivered           7/24/2018 9:09
90996     90997        90997    delivered           7/24/2018 9:19
90997     90998        90998    delivered           7/24/2018 9:24
90998     90999        90999  unavailable           7/24/2018 9:26
90999     91000        91000    delivered           7/24/2018 9:31

      order_approved_at order_delivered_carrier_date  \
90000    7/20/2018 0:10              7/24/2018 16:00
90001    7/21/2018 3:23              7/23/2018 14:52
90002    7/20/2018 0:23              7/20/2018 10:26
90003    7/20/2018 0:30              7/23/2018 11:39
90004    7/20/2018 0:55              7/20/2018 13:50
...                 ...                          ...
90995   7/24/2018 11:24              7/27/2018 14:36
90996   7/24/2018 11:41              7/25/2018 14:06
90997   7/25/2018 15:55              7/26/2018 15:31
90998    7/25/2018 4:10                          NaN
90999   7/24/2018 11:24              7/25/2018 13:51

      order_delivered_customer_date order_estimated_delivery_date
90000               7/27/2018 15:26                8/14/2018 0:00
90001               7/31/2018 15:07                8/16/2018 0:00
90002               7/25/2018 15:14                 8/3/2018 0:00
90003               7/27/2018 21:46                 8/3/2018 0:00
90004               7/27/2018 13:03                8/10/2018 0:00
...                             ...                           ...
90995                8/2/2018 23:33                8/17/2018 0:00
90996                8/1/2018 13:48                8/13/2018 0:00
90997                8/6/2018 21:58                8/17/2018 0:00
90998                           NaN                 8/3/2018 0:00
90999               7/30/2018 16:32                8/13/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
91000     91001        91001    delivered           7/24/2018 9:42
91001     91002        91002      shipped           7/24/2018 9:43
91002     91003        91003    delivered           7/24/2018 9:46
91003     91004        91004    delivered           7/24/2018 9:46
91004     91005        91005    delivered           7/24/2018 9:46
...         ...          ...          ...                      ...
91995     91996        91996    delivered          7/28/2018 13:15
91996     91997        91997    delivered          7/28/2018 13:17
91997     91998        91998    delivered          7/28/2018 13:18
91998     91999        91999    delivered          7/28/2018 13:18
91999     92000        92000    delivered          7/28/2018 13:20

      order_approved_at order_delivered_carrier_date  \
91000    7/25/2018 3:04              7/26/2018 14:32
91001   7/24/2018 11:40               7/25/2018 7:05
91002   7/24/2018 11:24              7/24/2018 14:55
91003   7/24/2018 11:24              7/24/2018 14:55
91004   7/24/2018 11:24              7/24/2018 15:14
...                 ...                          ...
91995    7/31/2018 3:50               8/2/2018 14:58
91996   7/28/2018 13:44              7/30/2018 14:47
91997   7/28/2018 14:24              7/31/2018 14:17
91998    7/31/2018 6:35                8/1/2018 9:32
91999   7/28/2018 13:44               7/31/2018 9:57

      order_delivered_customer_date order_estimated_delivery_date
91000                8/6/2018 12:39                8/14/2018 0:00
91001                           NaN                 8/7/2018 0:00
91002               7/27/2018 18:36                 8/7/2018 0:00
91003               7/27/2018 18:28                 8/7/2018 0:00
91004                8/2/2018 22:47                8/16/2018 0:00
...                             ...                           ...
91995                8/7/2018 23:13                8/20/2018 0:00
91996                 8/4/2018 0:18                8/15/2018 0:00
91997                8/2/2018 19:03                8/20/2018 0:00
91998                8/4/2018 17:56                8/20/2018 0:00
91999                8/2/2018 21:56                8/15/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
92000     92001        92001    delivered          7/28/2018 13:20
92001     92002        92002      shipped          7/28/2018 13:20
92002     92003        92003    delivered          7/28/2018 13:21
92003     92004        92004    delivered          7/28/2018 13:24
92004     92005        92005    delivered          7/28/2018 13:27
...         ...          ...          ...                      ...
92995     92996        92996    delivered           8/1/2018 13:03
92996     92997        92997    delivered           8/1/2018 13:03
92997     92998        92998    delivered           8/1/2018 13:18
92998     92999        92999    delivered           8/1/2018 13:18
92999     93000        93000    delivered           8/1/2018 13:19

      order_approved_at order_delivered_carrier_date  \
92000   7/30/2018 18:31               8/1/2018 15:01
92001   7/30/2018 18:31              7/31/2018 14:33
92002   7/30/2018 20:05              7/31/2018 14:07
92003   7/28/2018 13:44              7/30/2018 10:11
92004   7/28/2018 15:10              7/30/2018 16:13
...                 ...                          ...
92995     8/2/2018 5:30               8/3/2018 15:05
92996    8/1/2018 13:40               8/3/2018 14:40
92997    8/1/2018 13:31               8/2/2018 15:07
92998    8/1/2018 13:35               8/9/2018 13:35
92999     8/2/2018 5:30               8/3/2018 12:20

      order_delivered_customer_date order_estimated_delivery_date
92000                8/3/2018 19:42                 8/6/2018 0:00
92001                           NaN                8/27/2018 0:00
92002                8/1/2018 16:19                 8/8/2018 0:00
92003                8/2/2018 16:21                 8/9/2018 0:00
92004                8/6/2018 23:57                 8/9/2018 0:00
...                             ...                           ...
92995                8/9/2018 13:18                 8/9/2018 0:00
92996                 8/8/2018 2:04                8/13/2018 0:00
92997                 8/9/2018 0:46                8/22/2018 0:00
92998               8/21/2018 12:37                 9/3/2018 0:00
92999                8/9/2018 21:21                8/16/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
93000     93001        93001    delivered           8/1/2018 13:19
93001     93002        93002    delivered           8/1/2018 13:21
93002     93003        93003    delivered           8/1/2018 13:23
93003     93004        93004    delivered           8/1/2018 13:23
93004     93005        93005    delivered           8/1/2018 13:24
...         ...          ...          ...                      ...
93995     93996        93996    delivered           8/4/2018 18:02
93996     93997        93997    delivered           8/4/2018 18:07
93997     93998        93998    delivered           8/4/2018 18:15
93998     93999        93999    delivered           8/4/2018 18:22
93999     94000        94000    delivered           8/4/2018 18:27

      order_approved_at order_delivered_carrier_date  \
93000    8/1/2018 13:32               8/3/2018 13:15
93001    8/1/2018 13:35              8/14/2018 11:39
93002    8/1/2018 14:00               8/1/2018 15:54
93003    8/1/2018 14:00               8/2/2018 15:34
93004     8/3/2018 2:45               8/3/2018 11:14
...                 ...                          ...
93995    8/4/2018 18:15               8/7/2018 21:27
93996    8/4/2018 18:15               8/7/2018 13:52
93997    8/4/2018 18:25                8/7/2018 7:38
93998    8/4/2018 18:35               8/6/2018 14:52
93999    8/4/2018 18:44              8/13/2018 15:07

      order_delivered_customer_date order_estimated_delivery_date
93000               8/21/2018 12:26                 9/6/2018 0:00
93001               8/15/2018 20:31                 8/9/2018 0:00
93002                8/3/2018 20:52                8/13/2018 0:00
93003                8/8/2018 23:09                8/20/2018 0:00
93004               8/10/2018 14:52                8/24/2018 0:00
...                             ...                           ...
93995               8/13/2018 19:32                8/14/2018 0:00
93996               8/20/2018 19:08                9/12/2018 0:00
93997               8/13/2018 17:32                8/20/2018 0:00
93998                8/8/2018 22:56                8/13/2018 0:00
93999               8/14/2018 21:58                8/17/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
94000     94001        94001    delivered           8/4/2018 18:32
94001     94002        94002    delivered           8/4/2018 18:36
94002     94003        94003    delivered           8/4/2018 18:36
94003     94004        94004    delivered           8/4/2018 18:39
94004     94005        94005    delivered           8/4/2018 18:43
...         ...          ...          ...                      ...
94995     94996        94996    delivered           8/7/2018 19:21
94996     94997        94997    delivered           8/7/2018 19:29
94997     94998        94998    delivered           8/7/2018 19:33
94998     94999        94999    delivered           8/7/2018 19:33
94999     95000        95000    delivered           8/7/2018 19:37

      order_approved_at order_delivered_carrier_date  \
94000    8/4/2018 18:45               8/6/2018 11:07
94001    8/4/2018 18:45               8/7/2018 13:42
94002     8/7/2018 4:15               8/7/2018 13:51
94003    8/4/2018 18:50               8/9/2018 12:39
94004    8/4/2018 18:55                8/8/2018 6:26
...                 ...                          ...
94995     8/8/2018 8:24               8/9/2018 15:23
94996    8/7/2018 19:44              8/13/2018 10:15
94997    8/7/2018 19:45               8/8/2018 22:25
94998    8/7/2018 19:45               8/8/2018 16:12
94999    8/7/2018 19:50               8/8/2018 14:08

      order_delivered_customer_date order_estimated_delivery_date
94000                8/9/2018 20:34                8/17/2018 0:00
94001               8/13/2018 15:51                8/15/2018 0:00
94002               8/20/2018 14:38                8/24/2018 0:00
94003               8/24/2018 17:03                8/13/2018 0:00
94004               8/13/2018 19:41                8/16/2018 0:00
...                             ...                           ...
94995               8/17/2018 19:31                8/22/2018 0:00
94996                8/15/2018 1:34                8/13/2018 0:00
94997               8/17/2018 20:54                8/23/2018 0:00
94998               8/11/2018 12:01                8/28/2018 0:00
94999               8/15/2018 18:24                8/30/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
95000     95001        95001    delivered           8/7/2018 19:38
95001     95002        95002    delivered           8/7/2018 19:38
95002     95003        95003    delivered           8/7/2018 19:57
95003     95004        95004    delivered           8/7/2018 19:58
95004     95005        95005    delivered           8/7/2018 20:00
...         ...          ...          ...                      ...
95995     95996        95996    delivered          8/11/2018 11:53
95996     95997        95997    delivered          8/11/2018 11:55
95997     95998        95998  unavailable          8/11/2018 11:56
95998     95999        95999    delivered          8/11/2018 12:01
95999     96000        96000    delivered          8/11/2018 12:07

      order_approved_at order_delivered_carrier_date  \
95000    8/7/2018 19:50               8/8/2018 14:44
95001    8/7/2018 19:50               8/8/2018 17:05
95002    8/7/2018 20:10               8/8/2018 14:44
95003     8/8/2018 3:30               8/8/2018 15:05
95004    8/7/2018 20:10               8/8/2018 18:21
...                 ...                          ...
95995   8/11/2018 12:05              8/13/2018 14:21
95996   8/11/2018 12:05              8/14/2018 16:29
95997   8/11/2018 12:05                          NaN
95998   8/11/2018 12:10               8/13/2018 8:44
95999   8/11/2018 12:24              8/13/2018 15:06

      order_delivered_customer_date order_estimated_delivery_date
95000               8/10/2018 20:52                8/27/2018 0:00
95001                8/9/2018 21:40                8/13/2018 0:00
95002               8/15/2018 22:20                 9/3/2018 0:00
95003               8/13/2018 17:47                8/22/2018 0:00
95004               8/15/2018 19:48                8/17/2018 0:00
...                             ...                           ...
95995               8/16/2018 19:32                 9/5/2018 0:00
95996               8/23/2018 21:28                8/29/2018 0:00
95997                           NaN                8/27/2018 0:00
95998               8/17/2018 18:46                8/24/2018 0:00
95999               8/14/2018 18:51                8/17/2018 0:00

[1000 rows x 8 columns]
       order_id  customer_id order_status order_purchase_timestamp  \
96000     96001        96001    delivered          8/11/2018 12:14
96001     96002        96002    delivered          8/11/2018 12:22
96002     96003        96003    delivered          8/11/2018 12:27
96003     96004        96004    delivered          8/11/2018 12:34
96004     96005        96005    delivered          8/11/2018 12:41
...         ...          ...          ...                      ...
96995     96996        96996    delivered          8/15/2018 10:06
96996     96997        96997    delivered          8/15/2018 10:11
96997     96998        96998    delivered          8/15/2018 10:11
96998     96999        96999    delivered          8/15/2018 10:14
96999     97000        97000    delivered          8/15/2018 10:14

      order_approved_at order_delivered_carrier_date  \
96000   8/11/2018 12:25              8/13/2018 14:41
96001    8/14/2018 4:10              8/14/2018 10:22
96002   8/11/2018 12:35              8/17/2018 14:55
96003   8/11/2018 12:45              8/13/2018 14:28
96004   8/11/2018 12:55              8/13/2018 13:07
...                 ...                          ...
96995   8/15/2018 10:24              8/16/2018 14:25
96996   8/15/2018 10:24              8/20/2018 13:41
96997    8/16/2018 3:05              8/16/2018 14:44
96998    8/17/2018 3:31              8/17/2018 13:26
96999   8/15/2018 10:25              8/16/2018 14:15

      order_delivered_customer_date order_estimated_delivery_date
96000               8/20/2018 18:18                 9/6/2018 0:00
96001               8/20/2018 21:34                9/13/2018 0:00
96002               8/21/2018 18:41                8/22/2018 0:00
96003               8/16/2018 21:52                8/29/2018 0:00
96004                8/18/2018 0:08                9/12/2018 0:00

In [60]:
df_list = []

for item in pd.read_csv(filepath_or_buffer = path+'olist_customers_dataset.csv', chunksize = 1000):
    df_list.append(item.loc[item['customer_state'] == 'SP'])

(
pd.concat(objs = df_list, ignore_index = True)
    .to_csv(path + 'olist_customers_filtered_SP.csv', index = False)
)

pd.read_csv(path + 'olist_customers_filtered_SP.csv')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,24363,23670,18682,lencois paulista,SP
1,61088,59106,5704,sao paulo,SP
2,81464,59106,5704,sao paulo,SP
3,52129,50507,13412,piracicaba,SP
4,84003,81225,7124,guarulhos,SP
...,...,...,...,...,...
41735,60725,58753,13500,rio claro,SP
41736,78610,76052,7790,cajamar,SP
41737,68172,65961,3937,sao paulo,SP
41738,67399,65218,6764,taboao da serra,SP
41739,43856,42499,6703,cotia,SP

In [ ]:
customers_df.to

### Import/export fisiere excel

In [61]:
customers_orders_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx')
customers_orders_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
2,15229,14846,35701,sete lagoas,MG
3,15228,14845,60321,fortaleza,CE
4,15226,14844,26430,japeri,RJ
...,...,...,...,...,...
14891,5,5,2975,sao paulo,SP
14892,4,4,14600,sao joaquim da barra,SP
14893,3,3,12244,sao jose dos campos,SP
14894,2,2,99025,passo fundo,RS
14895,1,1,69309,boa vista,RR

In [62]:
customers_orders_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                                    skiprows = 2)
customers_orders_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,15229,14846,35701,sete lagoas,MG
1,15228,14845,60321,fortaleza,CE
2,15226,14844,26430,japeri,RJ
3,15225,14843,9406,ribeirao pires,SP
4,15224,14842,8410,sao paulo,SP
...,...,...,...,...,...
14889,5,5,2975,sao paulo,SP
14890,4,4,14600,sao joaquim da barra,SP
14891,3,3,12244,sao jose dos campos,SP
14892,2,2,99025,passo fundo,RS
14893,1,1,69309,boa vista,RR

In [63]:
customers_orders_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                                    skiprows = 2,
                                    usecols = ['customer_id', 'customer_unique_id'])
customers_orders_df

       customer_id  customer_unique_id
0            15229               14846
1            15228               14845
2            15226               14844
3            15225               14843
4            15224               14842
...            ...                 ...
14889            5                   5
14890            4                   4
14891            3                   3
14892            2                   2
14893            1                   1

[14894 rows x 2 columns]

In [66]:
customers_orders_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                                    skiprows = 2,
                                    usecols = 'A, B, D, E')
customers_orders_df

       customer_id  customer_unique_id         customer_city customer_state
0            15229               14846           sete lagoas             MG
1            15228               14845             fortaleza             CE
2            15226               14844                japeri             RJ
3            15225               14843        ribeirao pires             SP
4            15224               14842             sao paulo             SP
...            ...                 ...                   ...            ...
14889            5                   5             sao paulo             SP
14890            4                   4  sao joaquim da barra             SP
14891            3                   3   sao jose dos campos             SP
14892            2                   2           passo fundo             RS
14893            1                   1             boa vista             RR

[14894 rows x 4 columns]

In [69]:
customers_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                                    skiprows = 2,
                                    usecols = 'A, B, D, E')

In [68]:
orders_df = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                          sheet_name = 1) #sheet_name = 'orders'

In [70]:
orders_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1,1,shipped,2016-04-09 21:15:00,2016-07-10 13:18:00,10/18/2016 13:14,NaN,10/20/2016 0:00
1,2,2,canceled,2016-05-09 00:15:00,2016-07-10 13:17:00,NaN,NaN,10/28/2016 0:00
2,3,3,canceled,9/13/2016 15:24,2016-07-10 13:16:00,NaN,NaN,9/30/2016 0:00
3,4,4,delivered,9/15/2016 12:16,9/15/2016 12:16,2016-07-11 17:11:00,2016-09-11 07:47:00,2016-04-10 00:00:00
4,5,5,canceled,2016-02-10 22:07:00,2016-06-10 15:50:00,NaN,NaN,10/25/2016 0:00
...,...,...,...,...,...,...,...,...
15224,15225,15225,delivered,2017-03-07 20:36:00,2017-05-07 02:45:00,2017-06-07 15:06:00,7/13/2017 21:46,7/21/2017 0:00
15225,15226,15226,delivered,2017-03-07 20:49:00,2017-03-07 21:03:00,2017-06-07 16:23:00,7/13/2017 16:13,7/25/2017 0:00
15226,15227,15227,delivered,2017-03-07 20:50:00,2017-03-07 21:03:00,2017-10-07 17:13:00,7/20/2017 20:21,7/26/2017 0:00
15227,15228,15228,delivered,2017-03-07 21:01:00,2017-04-07 18:05:00,7/13/2017 17:58,7/26/2017 19:17,8/15/2017 0:00
15228,15229,15229,delivered,2017-03-07 21:12:00,2017-03-07 21:25:00,2017-05-07 17:54:00,7/15/2017 12:37,7/27/2017 0:00

In [72]:
xlsx = pd.ExcelFile(path_or_buffer = path + 'olist_customers_orders_dataset.xlsx')

In [73]:
xlsx.sheet_names

['customers', 'orders']

In [98]:
for sheet_name in pd.ExcelFile(path_or_buffer = path + 'olist_customers_orders_dataset.xlsx').sheet_names:
    globals()[sheet_name + '_df'] = pd.read_excel(io = path + 'olist_customers_orders_dataset.xlsx',
                                           sheet_name = sheet_name)

In [78]:
customers_df = customers_df.iloc[2:]

In [85]:
customers_df.iloc[1].values

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [99]:
customers_df.columns = customers_df.iloc[1].values
customers_df=customers_df.iloc[2:]
customers_df=customers_df.reset_index(drop = True)

In [100]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,15229,14846,35701,sete lagoas,MG
1,15228,14845,60321,fortaleza,CE
2,15226,14844,26430,japeri,RJ
3,15225,14843,9406,ribeirao pires,SP
4,15224,14842,8410,sao paulo,SP
...,...,...,...,...,...
14889,5,5,2975,sao paulo,SP
14890,4,4,14600,sao joaquim da barra,SP
14891,3,3,12244,sao jose dos campos,SP
14892,2,2,99025,passo fundo,RS
14893,1,1,69309,boa vista,RR

In [77]:
orders_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,1,1,shipped,2016-04-09 21:15:00,2016-07-10 13:18:00,10/18/2016 13:14,NaN,10/20/2016 0:00
1,2,2,canceled,2016-05-09 00:15:00,2016-07-10 13:17:00,NaN,NaN,10/28/2016 0:00
2,3,3,canceled,9/13/2016 15:24,2016-07-10 13:16:00,NaN,NaN,9/30/2016 0:00
3,4,4,delivered,9/15/2016 12:16,9/15/2016 12:16,2016-07-11 17:11:00,2016-09-11 07:47:00,2016-04-10 00:00:00
4,5,5,canceled,2016-02-10 22:07:00,2016-06-10 15:50:00,NaN,NaN,10/25/2016 0:00
...,...,...,...,...,...,...,...,...
15224,15225,15225,delivered,2017-03-07 20:36:00,2017-05-07 02:45:00,2017-06-07 15:06:00,7/13/2017 21:46,7/21/2017 0:00
15225,15226,15226,delivered,2017-03-07 20:49:00,2017-03-07 21:03:00,2017-06-07 16:23:00,7/13/2017 16:13,7/25/2017 0:00
15226,15227,15227,delivered,2017-03-07 20:50:00,2017-03-07 21:03:00,2017-10-07 17:13:00,7/20/2017 20:21,7/26/2017 0:00
15227,15228,15228,delivered,2017-03-07 21:01:00,2017-04-07 18:05:00,7/13/2017 17:58,7/26/2017 19:17,8/15/2017 0:00
15228,15229,15229,delivered,2017-03-07 21:12:00,2017-03-07 21:25:00,2017-05-07 17:54:00,7/15/2017 12:37,7/27/2017 0:00

In [102]:
customers_df.iloc[30:40].to_excel(path+'customers_filtered.xlsx', index = False)

In [ ]:
pd.ExcelWriter()

### Import date din tabele din pagini web

In [104]:
vw_tables = pd.read_html(io = 'https://en.wikipedia.org/wiki/Volkswagen_Group')

In [106]:
vw_tables[1]

    Year  Revenuein bn. EURâ‚¬[70] Net incomein bn. EURâ‚¬[71]  Employees[72]
0   1990                  34.800                       NaN         261000
1   2000                  81.840                     2.610         322000
2   2001                  87.300                     2.930         324000
3   2002                  85.293                     2.597         324000
4   2003                  84.813                     1.003         335000
5   2004                  88.963                     0.697         343000
6   2005                  93.996                     1.120         345000
7   2006                 104.875                     2.750         324900
8   2007                 108.897                     4.122         329300
9   2008                 113.808                     4.688         369900
10  2009                 105.187                     0.911         368500
11  2010                 126.875                     7.226         399400
12  2011                 159.337                    15.799         502000
13  2012                 192.676                    21.884         550000
14  2013                 197.007                     9.145         573000
15  2014                 202.458                    11.068         593000
16  2015                 213.292                    âˆ’1.361         610000
17  2016                 217.267                     5.379         627000
18  2017                 230.682                    11.638         634000
19  2018                 235.849                    13.920         656000
20  2019                 252.633                    12.369         671000
21  2020                 222.884                     8.334         663000
22  2021                 250.200                    15.428         673000

In [107]:
vw_tables[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       23 non-null     int64
 1   Revenuein bn. EURâ‚¬[70]     23 non-null     float64
 2   Net incomein bn. EURâ‚¬[71]  22 non-null     object
 3   Employees[72]              23 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 864.0+ bytes

In [112]:
(
vw_tables[1]
    .set_index(keys = 'Year')
    .loc['2017':]
    [['Revenuein bn. EURâ‚¬[70]', 'Employees[72]']]
    .mean()
    .to_frame()
)

                                  0
Revenuein bn. EURâ‚¬[70]     238.4496
Employees[72]           659400.0000

In [113]:
order_items_df = pd.read_csv(filepath_or_buffer=path+'olist_order_items_dataset.csv')
order_items_df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,1,1,24855,247,10/26/2016 18:25,39.99,31.67
1,35,1,24855,247,10/14/2016 2:44,39.99,22.34
2,319,1,24855,247,10/26/2016 16:35,39.99,11.80
3,376,2,24855,247,1/13/2017 0:37,38.50,15.56
4,376,1,24855,247,1/13/2017 0:37,38.50,15.56
...,...,...,...,...,...,...,...
112645,99171,1,31312,461,8/31/2018 13:04,139.49,15.29
112646,99214,1,24923,2201,8/31/2018 10:44,299.00,19.30
112647,99246,1,10892,2813,8/30/2018 14:25,139.89,19.08
112648,99307,1,22344,595,8/30/2018 13:15,517.80,27.71
112649,99365,1,13147,1237,9/3/2018 9:44,41.90,7.55

In [114]:
conv_data = pd.read_html(io = 'https://www.xe.com/currencyconverter/convert/?Amount=1&From=BRL&To=EUR')
conv_data

[           BRL           EUR
 0        1 BRL  0.196711 EUR
 1        5 BRL  0.983553 EUR
 2       10 BRL   1.96711 EUR
 3       25 BRL   4.91776 EUR
 4       50 BRL   9.83553 EUR
 5      100 BRL   19.6711 EUR
 6      500 BRL   98.3553 EUR
 7    1,000 BRL   196.711 EUR
 8    5,000 BRL   983.553 EUR
 9   10,000 BRL  1,967.11 EUR
 10  50,000 BRL  9,835.53 EUR,
            EUR           BRL
 0        1 EUR   5.08361 BRL
 1        5 EUR   25.4181 BRL
 2       10 EUR   50.8361 BRL
 3       25 EUR    127.09 BRL
 4       50 EUR   254.181 BRL
 5      100 EUR   508.361 BRL
 6      500 EUR  2,541.81 BRL
 7    1,000 EUR  5,083.61 BRL
 8    5,000 EUR  25,418.1 BRL
 9   10,000 EUR  50,836.1 BRL
 10  50,000 EUR   254,181 BRL,
                                           Unnamed: 0 Last 30 Days Last 90 Days
 0  HighThese are the highest points the exchange ...      0.19805      0.19805
 1  LowThese are the lowest points the exchange ra...      0.17654      0.15788
 2  AverageThese are the average exchange rates of...      0.18898      0.17587
 3  VolatilityThese percentages show how much the ...        1.00%        0.83%]

In [115]:
conv_df = conv_data[0]
conv_df

           BRL           EUR
0        1 BRL  0.196711 EUR
1        5 BRL  0.983553 EUR
2       10 BRL   1.96711 EUR
3       25 BRL   4.91776 EUR
4       50 BRL   9.83553 EUR
5      100 BRL   19.6711 EUR
6      500 BRL   98.3553 EUR
7    1,000 BRL   196.711 EUR
8    5,000 BRL   983.553 EUR
9   10,000 BRL  1,967.11 EUR
10  50,000 BRL  9,835.53 EUR

In [116]:
conv_ser = conv_df.iloc[0]
conv_ser

BRL           1 BRL
EUR    0.196711 EUR
Name: 0, dtype: object

In [117]:
conv_rate = conv_ser['EUR']
conv_rate

'0.196711 EUR'

In [118]:
conv_rate_float = float(conv_rate.replace(' EUR', ''))
conv_rate_float

0.196711

In [119]:
conv_rate_float = float(
                        pd.read_html(io = 'https://www.xe.com/currencyconverter/convert/?Amount=1&From=BRL&To=EUR')
                            [0]
                            .iloc[0, 1]
                            .replace(' EUR', '')
                        )

0.196711

In [120]:
customers_df = pd.read_csv(path + 'olist_customers_dataset.csv', usecols = ['customer_id', 'customer_state'])
orders_df = pd.read_csv(path + 'olist_orders_dataset.csv', usecols = ['customer_id', 'order_id'])

In [127]:
pd.options.display.float_format = '{:.2f}'.format

In [129]:
(order_items_df
 .merge(right = orders_df)
 .merge(right = customers_df)
 [['customer_state', 'price']]
 .groupby(by = 'customer_state')
 .sum()
 [['price']]
 .rename(columns = {'price':'sales (EUR)'})
 *conv_rate_float
)

                sales (EUR)
customer_state
AC                  3144.02
AL                 15798.81
AM                  4397.84
AP                  2650.54
BA                100588.17
CE                 44703.50
DF                 59525.52
ES                 54102.86
GO                 57949.48
MA                 23536.12
MG                311843.61
MS                 22978.33
MT                 30776.13
PA                 35201.00
PB                 22674.50
PE                 51693.30
PI                 17096.96
PR                134365.17
RJ                358819.09
RN                 16333.89
RO                  9076.37
RR                  1540.14
RS                147593.05
SC                102298.93
SE                 11590.38
SP               1023291.84
TO                  9761.14

In [ ]:
beautifulsoup
scrappy

### Import/export baze de date relationale

In [130]:
import sqlite3 as sq3

In [131]:
connection = sq3.connect(database = 'olist_orders.db')

In [132]:
connection.execute(" select name from sqlite_master where type = 'table' ").fetchall()

[]

In [133]:
import os

In [134]:
os.listdir(path)

['customers_filtered.xlsx',
 'customers_filtered_SP.csv',
 'olist_closed_deals_dataset.xlsx',
 'olist_customers_dataset.csv',
 'olist_customers_filtered_SP.csv',
 'olist_customers_orders_dataset.xlsx',
 'olist_geolocation_dataset.csv',
 'olist_marketing_qualified_leads_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_product_category_name_translation.csv',
 'olist_sellers_dataset.csv',
 'orders_reduced_dataset.xlsx']

In [139]:
for file_name in os.listdir(path):
    if 'dataset.csv' in file_name or 'translation' in file_name:
        (pd.read_csv(path+file_name) #-->returneaza dataframe
            .to_sql(name = file_name.replace('olist_', '')
                                    .replace('.csv', '')
                                    .replace('_dataset', ''), 
                    con = connection, 
                    index = False)
        )

In [140]:
pd.read_sql(sql = "select * from sqlite_master where type = 'table' ", con = connection)
#alternativ: connection.execute(" select name from sqlite_master where type = 'table' ").fetchall()

,type,name,tbl_name,rootpage,sql
0,table,customers,customers,2,"CREATE TABLE ""customers"" (\n""customer_id"" INTE..."
1,table,geolocation,geolocation,784,"CREATE TABLE ""geolocation"" (\n""geolocation_zip..."
2,table,marketing_qualified_leads,marketing_qualified_leads,5824,"CREATE TABLE ""marketing_qualified_leads"" (\n""m..."
3,table,orders,orders,5889,"CREATE TABLE ""orders"" (\n""order_id"" INTEGER,\n..."
4,table,order_items,order_items,8389,"CREATE TABLE ""order_items"" (\n""order_id"" INTEG..."
5,table,order_payments,order_payments,9757,"CREATE TABLE ""order_payments"" (\n""order_id"" IN..."
6,table,order_reviews,order_reviews,10592,"CREATE TABLE ""order_reviews"" (\n""review_id"" IN..."
7,table,products,products,11669,"CREATE TABLE ""products"" (\n""product_id"" INTEGE..."
8,table,product_category_name_translation,product_category_name_translation,11999,"CREATE TABLE ""product_category_name_translatio..."
9,table,sellers,sellers,12000,"CREATE TABLE ""sellers"" (\n""seller_id"" INTEGER,..."

In [141]:
connection.execute(" select name from sqlite_master where type = 'table' ").fetchall()

[('customers',),
 ('geolocation',),
 ('marketing_qualified_leads',),
 ('orders',),
 ('order_items',),
 ('order_payments',),
 ('order_reviews',),
 ('products',),
 ('product_category_name_translation',),
 ('sellers',)]

In [142]:
pd.read_sql(sql = """
                     select count(*)
                     from orders
                     where order_status = 'delivered'
                    """, con = connection)

   count(*)
0     96478

In [145]:
pd.read_sql(sql = """
                    select order_status, count(*) as cnt
                    from orders
                    group by order_status
                    order by cnt desc
                    """, con = connection)

  order_status    cnt
0    delivered  96478
1      shipped   1107
2     canceled    625
3  unavailable    609
4     invoiced    314
5   processing    301
6      created      5
7     approved      2

In [168]:
for name in pd.read_sql(sql = "select name from sqlite_master where type = 'table' ", con = connection)['name']:
    print(name)

customers
geolocation
marketing_qualified_leads
orders
order_items
order_payments
order_reviews
products
product_category_name_translation
sellers

In [172]:
for table in pd.read_sql(sql = "select name from sqlite_master where type = 'table' ", con = connection)['name']:
    print(pd.read_sql(f"select '{table}' as table_name, count(*) as cnt from {table}", con = connection), '\n')

  table_name    cnt
0  customers  99431

    table_name     cnt
0  geolocation  720156

                  table_name   cnt
0  marketing_qualified_leads  8000

  table_name    cnt
0     orders  99441

    table_name     cnt
0  order_items  112650

       table_name     cnt
0  order_payments  103886

      table_name     cnt
0  order_reviews  100000

  table_name    cnt
0   products  32951

                          table_name  cnt
0  product_category_name_translation   71

  table_name   cnt
0    sellers  3095